.slider-inner {
    margin: 0 0 35px;

    &__img {
        display: block;
    }
    &__bottom {
        display: flex;
        justify-content: flex-end;
        margin: 10px 0 0;
    }
    &__titles {
        color: var(--link);
        font-size: 13px;
        line-height: 20px;
        letter-spacing: .2px;
        width: calc(100% - 200px);
        margin: 5px auto 0 0;
    }
    &__title {
        display: none;

        &_active {
            display: block;
        }
    }
    &__count {
        margin: 5px 15px 5px 0;
        color: var(--link);
        font-size: 13px;
        line-height: 20px;
        letter-spacing: .2px;
    }
    &__str {
        display: flex;
        border-radius: 4px;
        height: 30px;
        overflow: hidden;
    }
    &__prev,
    &__next {
        width: 45px;
        position: relative;
        background-color: var(--background);

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            top: 50%;
            transition: all .3s;
            transform: translate(-50%, -50%);
            border: 4px solid transparent;
        }
        &:hover {
            background-color: var(--gray_contur);
        }
    }
    &__prev {
        border-right: 2px solid var(--white);

        &:after {
            border-right: 6px solid var(--black);
            margin: 0 0 0 -4px;
        }
    }
    &__next {

        &:after {
            border-left: 6px solid var(--black);
            margin: 0 0 4px;
        }
    }

    @include media-breakpoint-only(xs)
    {
        &__titles {
            width: calc(100% - 85px);
        }
        &__count {
            display: none;
        }
        &__prev,
        &__next {
            width: 35px;
        }
    }
}