.search-popular {
    margin: 0 0 50px;

    &__title {
        color: var(--blacksuper);
        font-size: 19px;
        line-height: 26px;
        font-weight: 600;
        letter-spacing: .19px;
        margin: 0 0 20px;
    }
    &__link {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: .23px;
        color: var(--link);
        margin: 0 0 20px;
        display: block;

        &:hover {
            color: var(--black);
        }
    }

    @include media-breakpoint-down(sm)
    {
        & {
            margin: 0 0 20px;

            &__link {
                margin: 0 0 10px;
            }
        }
    }
}