.search-result {
    margin: 0 0 50px;

    &__item {
        padding: 0 0 20px;
        border-bottom: 1px solid var(--gray_contur);
        margin: 0 0 20px;
        display: flex;

        &:last-child {
            padding: 0;
            border: none;
            margin: 0;
        }
    }
    &__pict {
        width: 180px;
        margin: 0 30px 0 0;
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__block {
        width: calc(100% - 210px);
    }
    &__name {
        max-width: 420px;
        color: var(--blacksuper);
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: .26px;
        margin: 0 0 10px;
        display: block;

        &:hover {
            color: var(--link);
        }
    }
    &__text {
        max-width: 495px;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: .23px;
        margin: 0 0 10px;
    }
    &__word {
        color: var(--link-abs);
    }
    &__bottom {
        font-size: 13px;
        line-height: 17px;
        letter-spacing: .23px;
        color: var(--link);
        letter-spacing: .2px;
        display: flex;
    }
    &__place {
        margin: 0 10px 0 0;
    }

    @include media-breakpoint-down(sm)
    {
        &__item {
            flex-direction: column;
        }
        &__pict {
            margin: 0 0 15px;
            width: 100%;
        }
        &__block {
            width: 100%;
        }
    }
}