.faq-form {
    max-width: 600px;
    margin: 0 0 40px;

    &__desc {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: .23px;
        margin: 0 0 30px;
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__file {
        margin: 0 15px 0 0;
    }
}