/* Черный фон */
.background-black {
    background-color: var(--black-dark);
    color: var(--white_contur);
    overflow: hidden;
}

/* Заголовки */
.about-title {
    color: var(--white);
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: .39px;
    margin: 0 0 20px;
    text-transform: uppercase;

    @include media-breakpoint-only(xs)
    {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0;
        margin: 0 0 10px;
    }
}

/* Описание блоков */
.about-description {
    font-size: 20px;
    line-height: 23px;
    color: var(--blue);
}

/* Кнопка */
.about-btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--gray_contur);
    border-radius: 5px;
    color: var(--gray_contur);
    font-size: 15px;
    letter-spacing: .23px;
    height: 40px;
    padding: 0 15px;
    fill: none;
    stroke: var(--gray_contur);

    &:hover {
        border-color: var(--white);
        color: var(--white);
        stroke: var(--white);
        text-decoration: none;
    }
    &__icon {

        &-video {
            height: 23px;
            width: 32px;
            margin: 0 15px 0 0;
        }
        &-str {
            height: 22px;
            width: 13px;
            transform: rotate(-90deg);
            margin: 0 0 0 15px;
        }
    }
}

/* Выноска */
.about-blockquote {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-left: 3px solid var(--red-middle);
    padding: 0 0 0 22px;

    @media (min-width: 1400px)
    {
        & {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}