.about-block4 {
    position: relative;

    &__img {
        width: 100%;
        display: block;
    }
    &__block {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
    }
    &__text {
        width: 40%;
        transition: 1s;

        &:not(.viewport-visible) {
            transform: translate(-50%, 0);
            opacity: 0;
        }
    }
    &__desc {
        max-width: 320px;
        margin: 0 0 40px;
        position: relative;

        &:after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: var(--red-middle);
            position: absolute;
            left: 0;
            bottom: -20px;
        }
    }

    @media (min-width: 1400px)
    {
        &__text {
            font-size: 20px;
            line-height: 1.5;
        }
    }
    @include media-breakpoint-only(md)
    {
        &__img {
            opacity: .5;
        }
        &__text {
            width: 80%;
        }
    }
    @include media-breakpoint-only(sm)
    {
        &__img {
            opacity: .5;
        }
        &__text {
            width: 100%;
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            height: 410px;

            &__img {
                opacity: .5;
                position: absolute;
                height: 100%;
                width: auto;
                max-width: 2000px;
                left: 50%;
                transform: translate(-45%, 0);
            }
            &__text {
                width: 100%;
            }
        }
    }
}