.about-block12 {
    margin: 95px 0 130px;
    background: url(img/about/bg.block12.png) no-repeat calc(50% - 90px) 35px;

    &__block {
        position: relative;
        max-width: 1000px;
        margin: auto;
    }
    &__logo {
        position: absolute;
        top: 0;
        right: 10px;
        transition: 1s;

        &:not(.viewport-visible) {
            opacity: 0;
        }
    }
    &__img {
        position: absolute;
        top: 120px;
        right: 0;
        transition: 1s;

        &:not(.viewport-visible) {
            transform: translate(50%, 0);
            opacity: 0;
        }
    }
    &__text {
        width: 50%;
        transition: 1s;

        &:not(.viewport-visible) {
            transform: translate(-50%, 0);
            opacity: 0;
        }
    }
    &__desc {
        max-width: 360px;
        margin: 0 0 15px;
    }

    @media (min-width: 1400px)
    {
        &__text {
            font-size: 20px;
            line-height: 1.5;
        }
    }
    @include media-breakpoint-down(md)
    {
        & {
            margin: 95px 0 80px;

            &__block {
                padding: 150px 0 300px;
            }
            &__logo {
                right: auto;
                left: 0;
            }
            &__img {
                top: auto;
                bottom: 0;
            }
            &__text {
                width: 100%;
            }
        }
    }
}