.about-block6 {
    position: relative;
    background: url(img/about/bg.block6.jpg) no-repeat center / cover;

    &__img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    &__desc {
        max-width: 350px;
    }
    &__block {
        width: 50%;
        margin: 0 0 0 50%;
        padding: 80px 100px 145px 0;
        transition: 1s;

        &:not(.viewport-visible) {
            transform: translate(50%, 0);
            opacity: 0;
        }
    }

    @media (min-width: 1400px)
    {
        &__block {
            padding: 55px 0 145px;
            font-size: 20px;
            line-height: 1.5;
        }
    }
    @include media-breakpoint-only(lg)
    {
        &__img {
            width: 450px;
        }
        &__block {
            padding: 80px 0;
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        &__img {
            height: 340px;
        }
        &__block {
            margin: 0;
            width: 100%;
            padding: 50px 0 350px;
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__img {
            height: 340px;
        }
        &__block {
            margin: 0;
            width: 100%;
            padding: 50px 0 350px;
        }
    }
}