.about-block2 {
    position: relative;

    &__img {
        width: 100%;
        display: block;
        transition: 2s linear 1s;
    }
    &__user {
        position: absolute;
        top: 0;
        z-index: 2;
        left: 0;
        right: 0;
        transition: 1s;
    }
    &__block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    &__text {
        width: 50%;
        float: right;
        margin: 160px 0 0;
        padding: 0 120px 0 0;
        transition: 1s linear .5s;
    }

    &:not(.viewport-visible) &__text {
        transform: translate(50%, 0);
        opacity: 0;
    }

    @media (min-width: 1400px)
    {
        &__text {
            font-size: 20px;
            line-height: 1.5;
        }
    }
    @include media-breakpoint-up(lg)
    {
        &:not(.viewport-visible) &__img,
        &:not(.viewport-visible) &__user {
            opacity: 0;
        }
    }
    @include media-breakpoint-only(lg)
    {
        &__text {
            margin: 80px 0 0;
            padding: 0;
        }
    }
    @include media-breakpoint-only(md)
    {
        &__img {
            opacity: .5;
        }
        &__block {
            top: 50%;
            transform: translate(0, -50%);
        }
        &__text {
            width: 100%;
            padding: 0;
            margin: 0;
            float: none;
        }
    }
    @include media-breakpoint-only(sm)
    {
        &__img {
            opacity: .5;
            width: auto;
            max-width: 120%;
        }
        &__block {
            top: 50%;
            transform: translate(0, -50%);
        }
        &__text {
            width: 100%;
            padding: 0;
            margin: 0;
            float: none;
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            height: 740px;

            &__img {
                opacity: .5;
                width: auto;
                max-width: 2000px;
                height: 100%;
                position: absolute;
                left: 50%;
                transform: translate(-35%, 0);
            }
            &__block {
                top: 50%;
                transform: translate(0, -50%);
            }
            &__text {
                width: 100%;
                padding: 0;
                margin: 0;
                float: none;
            }
        }
    }
}