.about-block11 {
    margin: 80px 0 0;
    padding: 35px 0 50px;
    background: url(img/about/bg.block11.png) no-repeat calc(50% - 220px) 0;

    &__block {
        position: relative;
        max-width: 1000px;
        margin: auto;
    }
    &__logo {
        position: absolute;
        top: 0;
        left: 55px;
        transition: 1s;

        &:not(.viewport-visible) {
            opacity: 0;
        }
    }
    &__img {
        position: absolute;
        top: 165px;
        left: -50px;
        transition: 1s;

        &:not(.viewport-visible) {
            transform: translate(-50%, 0);
            opacity: 0;
        }
    }
    &__text {
        width: 50%;
        margin: 0 0 0 50%;
        transition: 1s;

        &:not(.viewport-visible) {
            transform: translate(50%, 0);
            opacity: 0;
        }
    }
    &__desc {
        max-width: 360px;
        margin: 0 0 15px;
    }

    @media (min-width: 1400px)
    {
        &__text {
            font-size: 20px;
            line-height: 1.5;
        }
    }
    @include media-breakpoint-down(md)
    {
        & {
            padding: 0;

            &__block {
                padding: 140px 0 250px;
            }
            &__logo {
                top: 0;
                left: 0;
            }
            &__img {
                top: auto;
                left: 0;
                bottom: 0;
            }
            &__text {
                width: 100%;
                margin: 0;
            }
        }
    }
}