.about-block8 {
    position: relative;
    margin: 0 0 200px;

    &__img {
        display: block;
        width: 100%;
    }
    &__block {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        right: 0;
    }
    &__title {
        transition: 1s;

        &:not(.viewport-visible) {
            opacity: 0;
        }
    }
    &__margin {
        max-width: 1000px;
        margin: auto;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__desc {
        color: var(--white);
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        transition: 1s;
        width: 470px;

        &:not(.viewport-visible) {
            transform: translate(-50%, 0);
            opacity: 0;
        }
    }
    &__text {
        transition: 1s;
        width: 495px;

        &:not(.viewport-visible) {
            transform: translate(50%, 0);
            opacity: 0;
        }
    }

    @media (min-width: 1500px)
    {
        & {
            margin: 0 0 100px;

            &__text {
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }
    @media (min-width: 1650px)
    {
        & {
            margin: 0;
        }
    }
    @include media-breakpoint-only(lg)
    {
        & {
            margin: 0 0 250px;

            &__desc {
                width: 440px;
                font-size: 22px;
            }
        }
    }
    @include media-breakpoint-only(md)
    {
        & {
            margin: 0;

            &__img {
                max-width: 140%;
                width: auto;
                opacity: .5;
            }
            &__block {
                top: 80px;
            }
            &__inner {
                flex-direction: column;
            }
            &__desc {
                margin: 0 0 30px;
                width: 100%;
            }
            &__text {
                width: 100%;
            }
        }
    }
    @include media-breakpoint-only(sm)
    {
        & {
            margin: 80px 0;

            &__img {
                max-width: 140%;
                width: auto;
                opacity: .5;
                position: absolute;
            }
            &__block {
                position: relative;
                top: 0;
            }
            &__inner {
                flex-direction: column;
            }
            &__desc {
                margin: 0 0 30px;
                width: 100%;
            }
            &__text {
                width: 100%;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            margin: 0 0 100px;

            &__img {
                max-width: 2000px;
                width: auto;
                opacity: .5;
                position: absolute;
                height: 920px;
                left: 50%;
                transform: translate(-35%, 0);
            }
            &__block {
                position: relative;
                top: 0;
            }
            &__inner {
                flex-direction: column;
            }
            &__desc {
                margin: 0 0 230px;
                width: 100%;
            }
            &__text {
                width: 100%;
            }
        }
    }
}