.about-block5 {
    padding: 0 0 130px;

    &__title {
        text-align: center;
        max-width: 540px;
        margin: 0 auto 30px;
        transition: 1s;

        &:not(.viewport-visible) {
            opacity: 0;
        }
    }
    &__block {
        background: url(img/about/bg.block5.png) no-repeat center;
        padding: 0 0 90px
    }
    &__steps {
        margin: 0 0 50px;
    }
    &__step {

        &:not(.viewport-visible) {
            transform: translate(-50%, 0);
            opacity: 0;
        }
        &:nth-child(1) {
            transition: 1s;
        }
        &:nth-child(2) {
            transition: 1s linear 1s;
        }
    }
    &__nums {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__num {

        &:not(.viewport-visible) {
            transform: translate(-50%, 0);
            opacity: 0;
        }
        &:nth-child(1) {
            transition: 1s;
        }
        &:nth-child(2) {
            transition: 1s linear 1s;
        }
        &:nth-child(3) {
            transition: 1s linear 2s;
        }
    }
    &__img {
        display: block;
        margin: 0 0 20px;
    }

    @include media-breakpoint-only(lg)
    {
        &__img {
            width: 80%;
        }
    }
    @include media-breakpoint-only(md)
    {
        & {
            padding: 0 0 80px;

            &__block {
                background-size: contain;
                padding: 0;
            }
            &__num {
                margin: 0 30px 0 0;
            }
            &__img {
                width: 70%;
            }
        }
    }
    @include media-breakpoint-only(sm)
    {
        & {
            padding: 50px 0;

            &__block {
                background-size: contain;
                padding: 0;
            }
            &__step {
                margin: 0 0 30px;
            }
            &__nums {
                flex-direction: column;
                align-items: flex-start;
            }
            &__num {
                margin: 0 0 30px;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            padding: 50px 0;

            &__block {
                background-size: auto;
                padding: 0 15px;
                background-position: right calc(100% - 100px);
                margin: 0 -15px;
            }
            &__step {
                margin: 0 0 30px;
            }
            &__nums {
                flex-direction: column;
                align-items: flex-start;
            }
            &__num {
                margin: 0 0 30px;
                transition: .5s !important;
            }
        }
    }
}