.about-block9 {
    position: relative;

    &__img {
        display: block;
        width: 100%;
    }
    &__block {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        right: 0;
    }
    &__top {
        margin: 0 auto 90px;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
    }
    &__cup {
        width: 395px;
        position: relative;
        transition: 1s;

        &:not(.viewport-visible) {
            opacity: 0;
        }
        &-img {
            max-width: 690px;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -58%);
        }
    }
    &__inner {
        transition: 1s;
        width: 495px;

        &:not(.viewport-visible) {
            transform: translate(50%, 0);
            opacity: 0;
        }
    }
    &__desc {
        max-width: 260px;
        margin: 0 0 25px;
    }
    &__bottom {
        margin: 0 auto;
        max-width: 1000px;
    }
    &__text-small {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .35px;
        transition: 1s;
        position: relative;

        &:not(.viewport-visible) {
            transform: translate(-50%, 0);
            opacity: 0;
        }
    }
    &__icon {
        position: absolute;
        top: 5px;
        left: -50px;
    }
    &__z-index {
        position: relative;
        z-index: 2;
    }

    @media (min-width: 1400px)
    {
        &__cup {

            &-img {
                transform: translate(-50%, -54%);
            }
        }
        &__text {
            font-size: 20px;
            line-height: 1.5;
        }
    }
    @include media-breakpoint-only(lg)
    {
        &__img {
            max-width: 200%;
            width: auto;
        }
        &__icon {
            display: none;
        }
    }
    @include media-breakpoint-down(md)
    {
        & {
            margin: 0 0 50px;

            &__img {
                display: none;
            }
            &__block {
                position: static;
                transform: none;
            }
            &__top {
                flex-direction: column;
            }
            &__cup {
                width: 100%;
                height: 400px;
            }
            &__inner {
                width: 100%;
            }
            &__icon {
                top: -40px;
                left: 0;
            }
        }
    }
}