.about-block1 {
    position: relative;

    &__video {
        width: 100%;
        display: block;
    }
    &__block {
        position: absolute;
        top: 50%;
        z-index: 5;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__word1 {
        margin: 0 0 30px;
    }
    &__word2 {
        margin: 0 0 40px;
    }
    &__str {
        position: absolute;
        left: 50%;
        bottom: 30px;
        stroke: var(--gray_contur);
        fill: none;

        &:hover {
            stroke: var(--white);
        }
        &-icon {
            height: 22px;
            width: 13px;
        }
    }
}