.final-position-head {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 35px 0 60px;

    &__pict {
        width: 185px;
    }
    &__img {
        display: block;
        margin: auto;
    }
    &__text {
        width: calc(100% - 210px);
    }

    @include media-breakpoint-only(xs)
    {
        & {
            flex-direction: column;
            margin: 20px 0 40px;

            &__pict {
                width: 100%;
                margin: 0 0 15px;
            }
            &__text {
                width: 100%;
            }
        }
    }
}