.teams-table {

    &__bottom {
        margin: 40px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: none;
        }
    }

    @include media-breakpoint-only(xl)
    {
        &__bottom {
            margin: 40px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-left,
            &-right {
                display: block;
                width: 235px;
            }
        }
    }
    @include media-breakpoint-down(sm)
    {
        &__bottom {
            margin: 20px 0 0;
            flex-direction: column-reverse;

            &-part {
                width: auto;
            }
            &-center {
                margin: 25px 0 0;
            }
        }
    }
}