.player-statistics {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 25px;

        &-info {
            color: var(--link);
            font-size: 13px;
        }
    }
    &__fix-width {
        max-width: 210px;
    }

    @include media-breakpoint-only(xs)
    {
        &__title {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}