.championship-step {
    border: 2px solid var(--white_contur);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    &__box {
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        color: var(--black);
        max-width: calc(100% - 50px);
    }
    &__first {
        color: var(--link);
        margin: 0 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__second {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__score {
        font-size: 17px;
        line-height: 24px;
        font-weight: 600;
        color: var(--blacksuper);
        letter-spacing: .26px;
    }
    &__lose {
        color: var(--link);
    }
}