.match-head {
    padding: 0 70px 0 0;

    &__top {
        text-align: center;
    }
    &__time {
        font-size: 13px;
        line-height: 15px;
        color: var(--blacksuper);
        margin: 0 0 5px;
    }
    &__place {
        color: var(--link);
        font-size: 13px;
        line-height: 15px;
    }
    &__middle {
        margin: 0 0 40px;
        display: flex;
        justify-content: space-between;
    }
    &__left,
    &__right {
        width: 245px;
    }
    &__right {
        text-align: right;
    }
    &__center {
        padding: 45px 0 0;
    }
    &__logo {
        height: 95px;
        display: flex;
        align-items: center;
        margin: 0 0 5px;

        &_right {
            justify-content: flex-end;
        }
    }
    &__img {
        max-height: 100%;
    }
    &__name {
        font-size: 19px;
        font-weight: 600;
        color: var(--blacksuper);
        margin: 0 0 2px;
    }
    &__city {
        color: var(--link);
        font-size: 13px;
        line-height: 15px;
    }
    &__score-full {
        font-size: 71px;
        font-weight: 600;
        line-height: 1;
    }
    &__score {
        font-size: 13px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            margin: 0 5px;
        }
    }
    &__loser {
        color: var(--link);
    }
    &__bottom {
        text-align: center;
        font-size: 13px;
        line-height: 15px;
    }
}