.match-head {

    &__top {
        text-align: center;
    }
    &__time {
        font-size: 13px;
        line-height: 15px;
        color: var(--blacksuper);
        margin: 0 0 5px;
    }
    &__place {
        color: var(--link);
        font-size: 13px;
        line-height: 15px;
    }
    &__middle {
        margin: 0 0 40px;
        display: flex;
        justify-content: space-between;
    }
    &__left,
    &__right {
        width: 245px;
    }
    &__center {
        padding: 45px 0 0;
    }
    &__logo {
        height: 95px;
        display: flex;
        align-items: center;
        margin: 0 0 5px;
    }
    &__img {
        max-height: 100%;
    }
    &__name {
        font-size: 19px;
        font-weight: 600;
        color: var(--blacksuper);
        margin: 0 0 2px;
    }
    &__city {
        color: var(--link);
        font-size: 13px;
        line-height: 15px;
    }
    &__score-full {
        font-size: 70px;
        font-weight: 600;
        line-height: 1;
    }
    &__score {
        font-size: 13px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            margin: 0 5px;
        }
    }
    &__loser {
        color: var(--link);
    }
    &__bottom {
        text-align: center;
        font-size: 13px;
        line-height: 15px;
    }

    @include media-breakpoint-up(md)
    {
        &__right {
            text-align: right;
        }
        &__logo {

            &_right {
                justify-content: flex-end;
            }
        }
    }
    @include media-breakpoint-only(xl)
    {
        & {
            padding: 0 70px 0 0;
        }
    }
    @include media-breakpoint-between(md, lg)
    {
        &__score-full {
            font-size: 50px;
        }
    }
    @include media-breakpoint-down(sm)
    {
        &__middle {
            flex-direction: column;
            margin: 20px 0;
            align-items: center;
            text-align: center;
        }
        &__center {
            padding: 15px 0;
        }
        &__logo {
            justify-content: center;
        }
    }
}