.match-protocol-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px;

    &__img {
        display: block;
    }
    &__text {
        font-size: 13px;
        line-height: 17px;
        color: var(--link);
    }

    @include media-breakpoint-only(xs)
    {
        & {
            justify-content: flex-start;
            margin: 0 0 20px;

            &__text {
                padding: 0 0 0 15px;
            }
        }
    }
}