.match-protocol-head {
    display: flex;
    margin: 0 0 35px;
    align-items: center;
    justify-content: space-between;

    &__alert {
        background-color: var(--blacksuper);
        color: var(--white);
        padding: 3px 20px;
        border-radius: 4px;
        display: flex;
        align-items: center;

        &-icon {
            stroke: var(--white);
            stroke-width: 2px;
            width: 24px;
            height: 21px;
            fill: transparent;
            margin: 0 10px 0 0;
        }
    }

    @include media-breakpoint-between(md, lg)
    {
        &__alert {
            padding: 3px 10px;
            font-size: 13px;
        }
    }
    @include media-breakpoint-down(sm)
    {
        & {
            flex-direction: column;
            align-items: flex-start;

            &__alert {
                margin: 15px 0 0;
                font-size: 13px;
                line-height: 17px;
                padding: 5px 10px;
            }
        }
    }
}

.match-protocol-table {

    &__pict {
        width: 44px;
    }
    &__pict-name {
        display: flex;
        align-items: center;
    }
    &__img {
        height: 34px;
        width: 34px;
        border-radius: 50%;
        display: block;
        margin: -10px 0;
    }
    &__ava-box {
        width: 80px;
    }
    &__ava {
        margin: -15px 0;
        max-width: 40px;
    }
    &__pict-name {
        display: flex;
    }
    &__pict-name &__img {
        margin-right: 10px;
    }
    &__video-icon {
        margin: 0;
        fill: var(--white_contur);
        transition: .3s;

        &:hover {
            fill: var(--blacksuper);
        }
    }
    &__big-bold {
        font-weight: 600;
        color: var(--blacksuper);
    }
    &__line {
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -1px;
        background-color: var(--white);
    }

    @include media-breakpoint-only(xl)
    {
        & {
            margin: 0 0 0 -50px;

            &__first {
                width: 45px;
            }
        }
    }
    @include media-breakpoint-up(lg)
    { 
        & th {
            padding-bottom: 20px;
        }
        &__big-bold {
            font-size: 19px;
            line-height: 1;
        }
    }
}

.match-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    &_a {
        width: 32px;
        height: 26px;
    }
    &_b {
        width: 27px;
        height: 27px;
    }
    &_c {
        width: 27px;
        height: 21px;
    }
    &_red {
        fill: var(--red);
    }
    &_grey {
        fill: var(--link);
    }

    @include media-breakpoint-down(md)
    { 
        & {
            display: none;
        }
    }
}