.payments-form {

    &__block {
        padding: 0 0 15px;
        position: relative;
        border-bottom: 1px solid var(--gray_contur);
        margin: 0 0 30px;

        &:last-child {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
    &__num {
        font-weight: 600;
        color: var(--blacksuper);
        font-size: 28px;
        line-height: 1;
        position: absolute;
        top: -2px;
        left: -45px;
    }
    &__three {
        display: flex;
        margin: 0 -7px;
        max-width: 530px;

        &-part {
            width: calc(100% / 3);
            padding: 0 7px;
        }
    }
    &__btn-send {
        padding: 0 70px;
    }

    @include media-breakpoint-down(lg)
    {
        &__num {
            display: none;
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__three {
            display: block;
            margin: 10px 0 0;

            &-part {
                width: 100%;
                padding: 0;
            }
        }
    }

    &-team {
        display: flex;
        justify-content: space-between;
        margin: 0 0 50px;

        &__left {
            width: 150px;
        }
        &__pict {
            width: 115px;
            margin: 0 0 5px;
        }
        &__logo {
            display: block;
        }
        &__name {
            color: var(--blacksuper);
            font-weight: 600;
            font-size: 17px;
            line-height: 24px;
            letter-spacing: .26px;
        }
        &__city {
            color: var(--link);
            font-size: 13px;
            line-height: 17px;
        }
        &__info {
            margin: 35px 0 0;

            &-icon {
                width: 24px;
                height: 21px;
            }
            &-text {
                margin: 10px 0 0;
                color: var(--link);
                font-size: 13px;
                line-height: 17px;
                letter-spacing: .2px;
            }
        }
        &__right {
            width: calc(100% - 180px);
        }

        @include media-breakpoint-down(lg)
        {
            & {
                flex-direction: column;
                margin: 0;

                &__info {
                    margin: 15px 0;
                }
                &__right {
                    width: 100%;
                }
            }
        }
    }
}