.slider-index {
    overflow: hidden;
    margin: 0 0 50px;

    &__block {
        max-width: 1020px;
        margin: auto;
    }
    &__slider {
        overflow: visible;
    }
    &__link {
        position: relative;
        display: block;

        &_shadow:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-image: linear-gradient(to bottom, transparent, var(--black));
        }
    }
    &__img {
        display: block;
    }
    &__pagination {
        display: flex;
        padding: 30px 0 0;
        justify-content: center;
    }
    &__bullet {
        height: 15px;
        width: 15px;
        background-color: var(--gray_contur);
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
        transition: .3s;

        &:hover,
        &_active {
            background-color: var(--blacksuper);
        }
    }

	@include media-breakpoint-down(sm)
	{
		&__link {
			height: 250px;
			display: block;
			overflow: hidden;
		}
		&__img {
			max-width: 1000px;
			height: 100%;
			position: relative;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	@include media-breakpoint-only(xs)
	{
		& {
			margin: 0 0 30px;

			&__block {
				margin: 0 0 0 -15px;
				width: 100%;
			}
            &__pagination {
                padding: 15px 0 0;
            }
            &__bullet {
                margin: 0 5px;
            }
		}
	}
}