.medal-table {

    &__nowrap {
        white-space: nowrap;
        overflow-x: auto;
        padding: 10px 0 0;
    }
    &__icon {
        width: 25px;
        height: 38px;
        display: block;
        margin: auto;
        min-width: 25px;
    }
    &__circle {
        display: block;
        margin: auto;
    }
    &__bronze {
        font-weight: 600;
        color: var(--bronze);
    }
    &__silver {
        font-weight: 600;
        color: var(--silver);
    }
    &__gold {
        font-weight: 600;
        color: var(--gold);
    }
    &__bottom {
        margin: 20px 0 0;
    }
    &__cup {
        background: url(img/icon.cup.png) no-repeat 5px center;
        padding-left: 30px !important;
    }

    @include media-breakpoint-up(lg)
    {
        &_sub th {

            &:not(:nth-child(2)) {
                width: 50px;
            }
            &:first-child {
                width: 60px;
            }
        }
    }
}