<% var data = {
    title: "About",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                О Лиге
            </a>
            <a href="javascript:;" class="menu-section__link">
                Управление
            </a>
            <a href="javascript:;" class="menu-section__link">
                Совет Легенд
            </a>
            <a href="javascript:;" class="menu-section__link">
                Сотрудничество
            </a>
            <a href="javascript:;" class="menu-section__link">
                Вопрос-ответ
            </a>
        </div>
    </div>
</nav>

<div class="background-black">

    <div class="about-block1">
        <video playsinline autoplay muted loop poster="./local/img/about/bg.block1.jpg" class="about-block1__video d-none d-md-block">
            <source src="./local/video/video.webm" type="video/webm">
            <source src="./local/video/video.mp4" type="video/mp4">
        </video>
        <img src="./local/img/about/bg.block1.jpg" alt="" class="about-block1__img d-md-none">
        <div class="about-block1__block">
            <img src="./local/img/about/block1.word1.svg" alt="" class="about-block1__word1 d-none d-sm-block">
            <img src="./local/img/about/block1.word2.svg" alt="" class="about-block1__word2 d-none d-sm-block">
            <img src="./local/img/about/block1.word1.mobile.svg" alt="" class="about-block1__word1 d-sm-none">
            <img src="./local/img/about/block1.word2.mobile.svg" alt="" class="about-block1__word2 d-sm-none">
            <a href="javascript:;" class="about-btn">
                <svg class="about-btn__icon-video">
                    <use xlink:href="./local/img/sprite.about.svg#play"></use>
                </svg>
                Смотреть видео
            </a>
        </div>
        <a href="javascript:;" class="about-block1__str go-to" data-to="#next-block">
            <svg class="about-block1__str-icon">
                <use xlink:href="./local/img/sprite.about.svg#str"></use>
            </svg>
        </a>
    </div>

    <div class="about-block2 viewport-сhecker" id="next-block">
        <img src="./local/img/about/bg.block2.jpg" alt="" class="about-block2__img">
        <img src="./local/img/about/bg.block2.user.png" alt="" class="about-block2__user d-none d-lg-block">
        <div class="about-block2__block">
            <div class="container">
                <div class="about-block2__text">
                    <div class="about-title">
                        САМЫЙ МАСШТАБНЫЙ ПРОЕКТ <br class="d-none d-sm-block">В ЛЮБИТЕЛЬСКОМ СПОРТЕ
                    </div>
                    <div class="mb-20">
                        Ночная хоккейная лига создана в 2011 году по инициативе Президента Российской Федерации Владимира Путина и прославленных хоккеистов с целью развития и популяризации массового любительского хоккея, пропаганды здорового образа жизни и создания условий для организации спортивного досуга населения.
                    </div>
                    <div class="about-blockquote">
                        Соревнования Ночной лиги проходят при поддержке Министерства спорта Российской Федерации и Федерации хоккея России. Всероссийский турнир по хоккею среди любительских команд внесен в Единый календарный план межрегиональных, всероссийских и международных физкультурных и спортивных мероприятий.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block3 viewport-сhecker">
        <div class="container">
            <div class="about-block3__title about-title mb-10">
                Структура деятельности
            </div>
            <div class="about-block3__desc about-description">
                Прозрачная структура обеспечивает высокий уровень организации и проведения мероприятий
            </div>
            <div class="about-block3__items">
                <div class="about-block3__item about-block3__slide">
                    Ночная Лига
                </div>
                <svg class="about-block3__str about-block3__slide">
                    <use xlink:href="./local/img/sprite.about.svg#str-double"></use>
                </svg>
                <div class="about-block3__item about-block3__slide">
                    Региональные<br>
                    представители Лиги 
                </div>
                <svg class="about-block3__str about-block3__slide">
                    <use xlink:href="./local/img/sprite.about.svg#str-double"></use>
                </svg>
                <div class="about-block3__item about-block3__slide">
                    Представители<br>
                    команд
                </div>
                <svg class="about-block3__str about-block3__slide">
                    <use xlink:href="./local/img/sprite.about.svg#str-double"></use>
                </svg>
                <div class="about-block3__item about-block3__slide">
                    Хоккеисты-<br>
                    любители
                </div>
            </div>
            <div class="about-block3__text">
                Организацией Регионального чемпионата занимаются региональные представители, которым выдается доверенность на проведение турнира в своем регионе
            </div>
            <div class="about-block3__btn">
                <a href="javascript:;" class="about-btn">
                    Региональные представители
                    <svg class="about-btn__icon-str">
                        <use xlink:href="./local/img/sprite.about.svg#str"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="about-block4">
        <img src="./local/img/about/bg.block4.jpg" alt="" class="about-block4__img">
        <div class="about-block4__block">
            <div class="container">
                <div class="about-block4__text viewport-сhecker">
                    <div class="about-title mb-10">
                        ДОСТУПНЫЙ ЛЁД
                    </div>
                    <div class="about-block4__desc about-description">
                        Лига предлагает максимально комфортные условия участия в соревнованиях
                    </div>
                    <div>
                        Ледовые площадки для матчей турнира предоставляются на безвозмездной основе благодаря сотрудничеству Ночной лиги с региональными министерствами спорта. Это одно из главных преимуществ перед коммерческими проектами.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block5">
        <div class="container">
            <div class="about-block5__title about-title viewport-сhecker">
                Всероссийский турнир по хоккею проводится в два этапа
            </div>
            <div class="about-block5__block">
                <div class="about-block5__steps">
                    <div class="row">
                        <div class="about-block5__step col-md-6 viewport-сhecker">
                            <div class="about-description mb-10">
                                I этап
                            </div>
                            <div class="about-title mb-15">
                                Региональный чемпионат
                            </div>
                            <div>
                                Региональный этап Всероссийского турнира по хоккею среди любительских команд проводится в субъектах Российской Федерации с сентября по март.
                            </div>
                        </div>
                        <div class="about-block5__step col-md-6 viewport-сhecker">
                            <div class="about-description mb-10">
                                II этап
                            </div>
                            <div class="about-title mb-15">
                                Фестиваль хоккея
                            </div>
                            <div>
                                Фестиваль проходит в течение двух недель в Сочи на ледовых аренах Олимпийского парка — наследия Олимпиады 2014 года. Победитель турнира в главном дивизионе получает Кубок Крутова и грант на строительство крытого ледового катка в своем регионе.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-block5__nums">
                    <div class="about-block5__num viewport-сhecker">
                        <img src="./local/img/about/76.svg" alt="" class="about-block5__img">
                        <div class="about-title mb-5">
                            регионов
                        </div>
                        <div class="about-description">
                            России участвуют<br>
                            в турнире
                        </div>
                    </div>
                    <div class="about-block5__num viewport-сhecker">
                        <img src="./local/img/about/1027.svg" alt="" class="about-block5__img">
                        <div class="about-title mb-5">
                            команд
                        </div>
                        <div class="about-description">
                            было заявлено<br>
                            в девятом сезоне
                        </div>
                    </div>
                    <div class="about-block5__num viewport-сhecker">
                        <img src="./local/img/about/20000.svg" alt="" class="about-block5__img">
                        <div class="about-title mb-5">
                            хоккеистов
                        </div>
                        <div class="about-description">
                            выходят на лед<br>
                            ежегодно
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block6">
        <img src="./local/img/about/block6.face.png" alt="" class="about-block6__img">
        <div class="container">
            <div class="about-block6__block viewport-сhecker">
                <div class="about-title mb-15">
                    Совет Легенд
                </div>
                <div class="about-block6__desc about-description mb-20">
                    Прославленные игроки неизменно участвуют в жизни Лиги
                </div>
                <div class="mb-20">
                    Благодаря своему опыту и авторитету легенды являются примером для многих хоккеистов и принимают активное участие в деятельности Лиги.<br>
                    «Совет Легенд» регулярно посещает регионы России — проводят мастер-классы для юных воспитанников хоккейных школ и участвуют в различных мероприятиях, направленных на развитие любительского хоккея.
                </div>
                <div class="about-blockquote mb-55">
                    В состав Совета входят 34 игрока, среди которых есть многократные олимпийские чемпионы, чемпионы мира и Европы, победители отечественных первенств и различных престижных турниров. Председателем Совета Легенд является Александр Сергеевич Якушев.
                </div>
                <a href="javascript:;" class="about-btn">
                    Совет Легенд
                    <svg class="about-btn__icon-str">
                        <use xlink:href="./local/img/sprite.about.svg#str"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="about-block7">
        <div class="container">
            <div class="about-block7__opacity viewport-сhecker">
                <div class="about-title mb-15">
                    РЕГИОНАЛЬНЫЙ ЧЕМПИОНАТ
                </div>
                <div class="about-block7__desc about-description">
                    Все игроки Регионального чемпионата делятся на три дивизиона
                </div>
            </div>
            <div class="about-block7__items">
                <div class="about-block7__item viewport-сhecker">
                    <div class="about-block7__pict">
                        <img src="./local/img/about/block7.img1.png" alt="" class="about-block7__img">
                    </div>
                    <div class="about-block7__name">
                        Для спортшкольников и игроков-любителей старше 40 лет.
                    </div>
                    <div class="about-block7__text">
                        Действующие профессионалы и завершившие свою карьеру игроки не могут принимать участие в турнире среди любителей. <a href="javascript:;">Регламент Ночной Лиги</a>
                    </div>
                </div>
                <div class="about-block7__item viewport-сhecker">
                    <div class="about-block7__pict">
                        <img src="./local/img/about/block7.img2.png" alt="" class="about-block7__img">
                    </div>
                    <div class="about-block7__name">
                        Для спортшкольников и игроков-любителей старше 18 лет.
                    </div>
                    <div class="about-block7__text">
                        Ряд ограничений по возрасту и спортивному прошлому хоккеистов. <a href="javascript:;">Больше информации</a>
                    </div>
                </div>
                <div class="about-block7__item viewport-сhecker">
                    <div class="about-block7__pict">
                        <img src="./local/img/about/block7.img3.png" alt="" class="about-block7__img">
                    </div>
                    <div class="about-block7__name">
                        Самый массвовый дивизион для любителей старше 18 лет, не получишвиших специальных спортивных навыков.
                    </div>
                    <div class="about-block7__text">
                        Есть ограничения к составам команд. <a href="javascript:;">Подробнее здесь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block8">
        <img src="./local/img/about/bg.block8.jpg" alt="" class="about-block8__img">
        <div class="about-block8__block">
            <div class="container">
                <div class="about-block8__margin">
                    <img src="./local/img/about/block8.title.svg" alt="" class="about-block8__title mb-40 viewport-сhecker">
                    <div class="about-block8__inner">
                        <div class="about-block8__desc viewport-сhecker">
                            Долгожданное событие всего сезона — финал турнира, где собираются победители Региональных чемпионатов
                        </div>
                        <div class="about-block8__text viewport-сhecker">
                            <p>Фестиваль проходит в течение двух недель в Сочи на ледовых аренах Олимпийского парка — наследия Олимпиады 2014 года.</p>
                            <p>Во время Фестиваля традиционно проходит Гала-матч, в котором принимают участие команды «Легенды хоккея» и «Сборная Ночной лиги». В первой команде играют самые выдающиеся хоккеисты отечественного хоккея, государственные деятели и Президент России.</p>
                            <p>Вторая команда состоит из игроков Ночной лиги из числа выступающих в финале Фестиваля команд, а также российских общественных деятелей и предпринимателей, осуществляющих существенную поддержку российского спорта.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block9">
        <img src="./local/img/about/bg.block9.jpg" alt="" class="about-block9__img">
        <div class="about-block9__block">
            <div class="container">
                <div class="about-block9__top">
                    <div class="about-block9__cup viewport-сhecker">
                        <img src="./local/img/about/block9.cup.png" alt="" class="about-block9__cup-img">
                    </div>
                    <div class="about-block9__inner about-block9__z-index viewport-сhecker">
                        <div class="about-title mb-10">
                            КУБОК КРУТОВА
                        </div>
                        <div class="about-block9__desc about-description">
                            Главный трофей Ночной хоккейной лиги
                        </div>
                        <div class="about-block9__text">
                            Кубок Крутова учрежден Ночной лигой в 2015 году, главный приз — «грант» Министерства спорта России на строительство крытой ледовой арены в регионе, который представляет команда-победительница Фестиваля. Вручается сильнейшему коллективу страны в самом престижном и представительном дивизионе  — «Любитель 40+».
                        </div>
                    </div>
                </div>
                <div class="about-block9__bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-block9__text-small about-block9__z-index viewport-сhecker">
                                <img src="./local/img/about/block9.icon.svg" alt="" class="about-block9__icon">
                                В истории Лиги есть восемь победителей Фестиваля, пять из которых, начиная с 2015 года, являются обладателями Кубка Крутова:<br>
                                <br>
                                2012 — «Центурион» (Челябинск)<br>
                                2013 — «Казанские Драконы» (Казань)<br>
                                2014 — «Неоплан» (Екатеринбург)<br>
                                2015 — «Невский Легион» (Санкт-Петербург)<br>
                                2016 — «Авто» (Екатеринбург)<br>
                                2017 — «Сталкер» (Москва)<br>
                                2018 — «Флагман» (Всеволожск, Ленинградская область)<br>
                                2019 — «Скон-Урал» (Екатеринбург)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block10">
        <img src="./local/img/about/bg.block10.jpg" alt="" class="about-block10__img">
        <div class="about-block10__block">
            <div class="container">
                <div class="about-block10__line">
                    <div class="about-block10__inner viewport-сhecker">
                        <div class="about-title mb-10">
                            КУБОК МЕЧТЫ<br>
                            И КУБОК НАДЕЖДЫ
                        </div>
                        <div class="about-block10__text">
                            Вручаются победителям в дивизионах «Лига Мечты» и «Лига Надежды» начиная с Финала VII Фестиваля.
                        </div>
                    </div>
                    <div class="about-block10__items">
                        <div class="about-block10__item about-block10__item_first viewport-сhecker">
                            <div class="about-block10__pict">
                                <img src="./local/img/about/block10.img1.png" alt="" class="about-block10__pict-img">
                            </div>
                            <div class="about-block10__text-small">
                                <img src="./local/img/about/block10.icon.png" alt="" class="about-block10__icon d-sm-none d-md-block">
                                Обладатели Кубка Мечты:<br>
                                2018 — «Вольфрам-Б» (п. Восток, Приморский край)<br>
                                2019 — «Марс Волхов» (Волхов, Ленинградская область)
                            </div>
                        </div>
                        <div class="about-block10__item about-block10__item_last viewport-сhecker">
                            <div class="about-block10__pict">
                                <img src="./local/img/about/block10.img2.png" alt="" class="about-block10__pict-img">
                            </div>
                            <div class="about-block10__text-small">
                                <img src="./local/img/about/block10.icon.png" alt="" class="about-block10__icon d-sm-none">
                                Обладатели Кубка Надежды:<br>
                                2018 — «Тимерхан» (пгт. Богатые Сабы, Республика Татарстан)<br>
                                2019 — «Вольфрам-А» (п. Восток, Приморский край)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block11">
        <div class="container">
            <div class="about-block11__block">
                <img src="./local/img/about/block11.logo.svg" alt="" class="about-block11__logo viewport-сhecker">
                <img src="./local/img/about/block11.img.png" alt="" class="about-block11__img viewport-сhecker">
                <div class="about-block11__text viewport-сhecker">
                    <div class="about-title">
                        ДЕСЯТЫЙ СЕЗОН
                    </div>
                    <div class="about-block11__desc about-description">
                        Юбилейный сезон станет важной вехой в истории Лиги
                    </div>
                    <div>
                        <p>Предыдущий девятый сезон Ночной хоккейной лиги был досрочно завершен в связи с пандемией коронавируса в марте 2020 года. Ограничительные меры также не позволили провести Фестиваль хоккея в Сочи.</p>
                        <p>Новый сезон Ночной лиги — юбилейный. Ожидается, что в десятом сезоне география турнира может расшириться до 78 регионов.</p>
                        <p>В рамках X Всероссийского турнира по хоккею среди любительских команд будет проведен «Кубок Чемпионов» — первенство среди команд-победителей дивизиона «Любитель 40+» за всю историю проведения Фестивалей.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-block12">
        <div class="container">
            <div class="about-block12__block">
                <img src="./local/img/about/block12.logo.svg" alt="" class="about-block12__logo viewport-сhecker">
                <img src="./local/img/about/block12.img.png" alt="" class="about-block12__img viewport-сhecker">
                <div class="about-block12__text viewport-сhecker">
                    <div class="about-title">
                        Новая коммуникационная стратегия
                    </div>
                    <div class="mb-30">
                        <p>Новая концепция направлена на создание вокруг любительского хоккея глобальной экосистемы, полезной не только спортсменам, но и их семьям, коммерческим партнёрам, градообразующим предприятиям, правительствам регионов и т.д.</p>
                        <p>Стратегия ставит во главу социальную направленность деятельности Лиги, связанную с проектами в области благотворительности, образования, здоровья хоккеистов-любителей и поддержкой общественных проектов.</p>
                        <p>Одной из задач станет формирование площадки для укрепления деловых связей и партнерских отношений, чтобы участники Лиги могли обмениваться экспертными знаниями и опытом из других сфер жизни.</p>
                    </div>
                    <a href="javascript:;" class="about-btn">
                        Сотрудничество
                        <svg class="about-btn__icon-str">
                            <use xlink:href="./local/img/sprite.about.svg#str"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<footer class="background-black">
    <div class="container">

        <div class="about-footer-links">
             <a href="javascript:;" class="about-footer-links__link">
                <svg class="about-footer-links__icon">
                    <use xlink:href="./local/img/sprite.about.svg#a"></use>
                </svg>
                 Больше информации о Ночной Лиге в разделе «вопросы-ответы»
             </a>
             <a href="javascript:;" class="about-footer-links__link" data-fancybox data-src="#isQuestion">
                <svg class="about-footer-links__icon">
                    <use xlink:href="./local/img/sprite.about.svg#b"></use>
                </svg>
                 Остались вопросы — воспользуйтесь формой обратной связи
             </a>
        </div>

        <div class="about-footer-share">
            <div class="about-footer-share__title">Рассказать о Ночной Лиге друзьям</div>
            <div class="about-footer-share__items">

                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>

                <div class="ya-share2" data-services="facebook,vkontakte,odnoklassniki,whatsapp,telegram"></div>

            </div>
        </div>

        <div class="about-footer-bottom">
            <div class="about-footer-bottom__slogan">
                 Увидимся на ледовых аренах страны!
            </div>
            <svg class="about-footer-bottom__icon">
                <use xlink:href="./local/img/sprite.about.svg#logo"></use>
            </svg>
            <div>
                <a href="javascript:;" class="about-btn">
                    Вернуть на главную
                </a>
            </div>
        </div>
   
    </div>
</footer>

<div class="window-one" id="isQuestion">
    <div class="faq-form form-one mb-0">
        <form>
            <div class="h1 mb-5">Остались вопросы?</div>
            <div class="faq-form__desc">Мы готовы ответить на любые ваши вопросы и предложения</div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-one__line">
                        <input class="form-one__input" type="text" value="" placeholder="Ваше имя">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-one__line">
                        <input class="form-one__input" type="email" value="" placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="form-one__line">
                <textarea class="form-one__textarea" placeholder="Ваш вопрос"></textarea>
            </div>
            <div class="faq-form__bottom">
                <input type="file" class="faq-form__file file-input" value="" data-placeholder="Прикрепить файл">
                <button type="submit" class="btn-one">Отправить</button>
            </div>
        </form>
    </div>
</div>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>