<% var data = {
    title: "Album",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Новости
            </a>
            <a href="javascript:;" class="menu-section__link">
                Видео
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Фото
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-35">

                <div class="title-back mb-35">
                    <a href="javascript:;" class="title-back__back">
                        <svg class="title-back__back-icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                    <div class="h1 mb-0">Фото</div>
                </div>

                <h1 class="mb-15">Товарищеский матч. Премьер. Москва - Смольный. Санкт-Петербург</h1>

                <div class="news-detail-about">
                    <div class="news-detail-about__line">
                        <span>17 августа, 16:00</span>
                    </div>
                    <div class="news-detail-about__line">
                        <span>Фото: Борис Татаринов</span>
                    </div>
                </div>

                <div class="tags-block mb-30">
                    <div class="tags-block__title">Теги</div>
                    <div class="tags-block__items">
                        <a href="javascript:;" class="tags-block__item">НочнаяЛига</a>
                        <a href="javascript:;" class="tags-block__item">СезонХ</a>
                        <a href="javascript:;" class="tags-block__item">БольшеЧЕМигра</a>
                    </div>
                </div>

                <div class="album-gallery" id="album-gallery">
                    <a href="./local/uploads/club.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/prize.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.left.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/slider.festival.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.officially.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/festival.xs.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/club.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/prize.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.left.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/slider.festival.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.officially.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/festival.xs.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/club.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/prize.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.left.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/slider.festival.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.officially.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/festival.xs.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/club.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/prize.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.left.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/slider.festival.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.officially.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/festival.xs.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/club.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/prize.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.left.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/slider.festival.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/news.officially.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/festival.xs.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/club.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                    <a href="./local/uploads/prize.jpg" class="album-gallery__link">
                        <img src="./local/uploads/album.jpg" alt="" class="album-gallery__img">
                    </a>
                </div>

                <div class="share-block mb-0">
                    <div class="share-block__title">Поделиться материалом</div>
                    <div class="share-block__items">

                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script src="https://yastatic.net/share2/share.js"></script>

                        <div class="ya-share2" data-services="facebook,vkontakte,odnoklassniki,whatsapp,telegram"></div>

                    </div>
                </div>

            </div>

            <div class="photo-index">

                <div class="h1 mb-30">Новые альбомы</div>

                <div class="photo-index__items">
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.1.jpg" alt="">
                            <svg class="icon-photo icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#photo"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Мастер-класс для воспитанников хоккейной школы в Лужках</a>
                        <div class="photo-index__place">Крым</div>
                        <div class="photo-index__date">27 августа, 22:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.2.jpg" alt="">
                            <svg class="icon-photo icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#photo"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Московская область. Кубок Открытия сезона. Любитель 40+. Витязь - Богородск</a>
                        <div class="photo-index__place">Коми</div>
                        <div class="photo-index__date">2 июля, 9:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.3.jpg" alt="">
                            <svg class="icon-photo icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#photo"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Лига Чемпионов. Полуфинал Кубка Крутова. Запад России - Торнадо</a>
                        <div class="photo-index__place">Удмуртия</div>
                        <div class="photo-index__date">26 июля, 17:15</div>
                    </div>
                </div>

                <div class="h1 mb-30">Гала-матч</div>

                <div class="photo-index__items">
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.1.jpg" alt="">
                            <svg class="icon-photo icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#photo"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Мастер-класс для воспитанников хоккейной школы в Лужках</a>
                        <div class="photo-index__place">Крым</div>
                        <div class="photo-index__date">27 августа, 22:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.2.jpg" alt="">
                            <svg class="icon-photo icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#photo"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Московская область. Кубок Открытия сезона. Любитель 40+. Витязь - Богородск</a>
                        <div class="photo-index__place">Коми</div>
                        <div class="photo-index__date">2 июля, 9:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.3.jpg" alt="">
                            <svg class="icon-photo icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#photo"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Лига Чемпионов. Полуфинал Кубка Крутова. Запад России - Торнадо</a>
                        <div class="photo-index__place">Удмуртия</div>
                        <div class="photo-index__date">26 июля, 17:15</div>
                    </div>
                </div>
                <div class="photo-index__btn">
                    <a href="javascript:;" class="photo-index__btn-link">Альбомы региона</a>
                    <a href="javascript:;" class="btn-one">Все альбомы</a>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>