<% var data = {
    title: "Archive",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Чемпионат
            </a>
            <a href="javascript:;" class="menu-section__link">
                Протоколы СДК
            </a>
            <a href="javascript:;" class="menu-section__link">
                Платежи
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Документы
            </a>
            <a href="javascript:;" class="menu-section__link">
                Контакты
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="accordion-list mb-45">
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link accordion-list__link_open">IX. 19/20</a>
                    <div class="accordion-list__block accordion-list__block_open">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">VIII. 18/19</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">VII. 17/18</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">VI. 16/17</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">V. 15/16</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">IV. 14/15</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">III. 13/14</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">II. 12/13</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">I. 11/12</a>
                    <div class="accordion-list__block">

                        <div class="archive-list black-link">
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Письмо Министерства спорта Российской Федерации руководителям органов исполнительной власти субъектов РФ
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о IX Всероссийском Фестивале по хоккею среди любительских команд (PDF, 7 Мб)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Регламент Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Положение о Региональном представителе Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Логотип и элементы стиля IX Всероссийского Фестиваля Ночной Хоккейной Лиги
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                            </div>
                            <div class="archive-list__part">
                                <a class="archive-list__link" href="javascript:;">
                                    Дозаявочный лист команды
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Протокол матча (шаблон)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="archive-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>