<% var data = {
    title: "Championship",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Чемпионат
            </a>
            <a href="javascript:;" class="menu-section__link">
                Протоколы СДК
            </a>
            <a href="javascript:;" class="menu-section__link">
                Платежи
            </a>
            <a href="javascript:;" class="menu-section__link">
                Документы
            </a>
            <a href="javascript:;" class="menu-section__link">
                Контакты
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">

                <div class="h1-and-link">
                    <h1 class="mb-0">Чемпионат</h1>
                    <a href="javascript:;" class="link-str d-none d-lg-flex">
                        Статистика по всем регионам
                        <svg class="link-str__icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                </div>

                <div class="championship-filter filter-panel mb-0">
                    <div class="filter-panel__part filter-panel__part_90">
                        <select class="select-btn">
                            <option selected disabled>IX. 19/20</option>
                            <option value="">VIII. 18/19</option>
                            <option value="">VII. 17/18</option>
                            <option value="">VI. 16/17</option>
                        </select>
                    </div>
                    <div class="filter-panel__part filter-panel__part_145">
                        <div class="checkbox-icon">
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check" checked>
                                <svg class="checkbox-icon__icon checkbox-icon__icon_f">
                                    <use xlink:href="./local/img/sprite.num.svg#f"></use>
                                </svg>
                            </label>
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check">
                                <svg class="checkbox-icon__icon checkbox-icon__icon_lm">
                                    <use xlink:href="./local/img/sprite.num.svg#lm"></use>
                                </svg>
                            </label>
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check">
                                <svg class="checkbox-icon__icon checkbox-icon__icon_ln">
                                    <use xlink:href="./local/img/sprite.num.svg#ln"></use>
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="filter-panel__part championship-filter__calc"></div>
                    <div class="filter-panel__part filter-panel__part_50">
                        <a href="javascript:;" class="filter-panel__close btn-close btn-close_grey"></a>
                    </div>
                </div>

            </div>

            <div class="white-block mb-30">
                <div class="title-book">
                    <h2 class="mb-0">II стадия – Плей-офф</h2>
                    <a class="title-book__link" href="javascript:;" data-fancybox data-src="#glossary-one">
                        <svg class="title-book__icon">
                            <use xlink:href="./local/img/sprite.over.svg#book"></use>
                        </svg>
                    </a>
                </div>
                <div class="championship-minus-margin">
                    <a class="championship-slider__prev slider-str slider-str__prev" href="javascript:;"></a>
                    <a class="championship-slider__next slider-str slider-str__next" href="javascript:;"></a>
                    <div class="championship-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="championship-slider__item swiper-slide">
                                <div class="championship-slider__label">1/8 финала</div>
                                <div class="championship-slider__step championship-step mb-60">
                                    <div class="championship-step__box">
                                        <div class="championship-step__first">Сокол</div>
                                        <div class="championship-step__second">Казанские Драконы</div>
                                    </div>
                                    <div class="championship-step__score">
                                        17 : <span class="championship-step__lose">0</span>
                                    </div>
                                </div>
                                <div class="championship-slider__step championship-step">
                                    <div class="championship-step__box">
                                        <div class="championship-step__first">Усмань</div>
                                        <div class="championship-step__second">Максимум</div>
                                    </div>
                                    <div class="championship-step__score">
                                        3 : <span class="championship-step__lose">2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="championship-slider__item swiper-slide">
                                <div class="championship-slider__label">1/4 финала</div>
                                <div class="championship-slider__step championship-step mb-60">
                                    <div class="championship-step__box">
                                        <div class="championship-step__first">Максимум</div>
                                        <div class="championship-step__second">Н. Эд Машина</div>
                                    </div>
                                    <div class="championship-step__score">
                                        14 : <span class="championship-step__lose">0</span>
                                    </div>
                                </div>
                                <div class="championship-slider__step championship-step">
                                    <div class="championship-step__box">
                                        <div class="championship-step__first">Сокол</div>
                                        <div class="championship-step__second">Союз</div>
                                    </div>
                                    <div class="championship-step__score">
                                        8 : <span class="championship-step__lose">4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="championship-slider__item swiper-slide">
                                <div class="championship-slider__label">1/2 финала</div>
                                <div class="championship-slider__step championship-step mb-60">
                                    <div class="championship-step__box">
                                        <div class="championship-step__first">Сокол</div>
                                        <div class="championship-step__second">Казанские Драконы</div>
                                    </div>
                                    <div class="championship-step__score">
                                        17 : <span class="championship-step__lose">0</span>
                                    </div>
                                </div>
                                <div class="championship-slider__step championship-step">
                                    <div class="championship-step__box">
                                        <div class="championship-step__first">Усмань</div>
                                        <div class="championship-step__second">Максимум</div>
                                    </div>
                                    <div class="championship-step__score">
                                        3 : <span class="championship-step__lose">2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="championship-slider__item swiper-slide">
                                <div class="championship-slider__label">Финал</div>
                                <div class="championship-final">
                                    <img src="./local/img/icon.gold.k.png" alt="" class="championship-final__cup">
                                    <div class="championship-final__name championship-final__name_winner">
                                        Казанские Драконы
                                    </div>
                                    <div class="championship-final__pict">
                                        <img class="championship-final__logo" src="./local/uploads/championship.1.png" alt="">
                                    </div>
                                    <div class="championship-final__score">
                                        <div>
                                            18 : <span class="championship-final__score-lose">4</span>
                                        </div>
                                        <div>
                                            15 : <span class="championship-final__score-lose">2</span>
                                        </div>
                                    </div>
                                    <div class="championship-final__pict">
                                        <img class="championship-final__logo" src="./local/uploads/championship.2.png" alt="">
                                    </div>
                                    <div class="championship-final__name championship-final__name_loser">
                                        Усмань
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <h2 class="mb-15">Матч за 3 место</h2>
                <div class="championship-minus-margin">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="championship-step">
                                <div class="championship-step__box">
                                    <div class="championship-step__first">Союз</div>
                                    <div class="championship-step__second">Максимум</div>
                                </div>
                                <div class="championship-step__score">
                                    <span class="championship-step__lose">3</span> : 12
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">

                <div class="title-book">
                    <h2 class="mb-0">Круговой турнир. Группа А. I стадия</h2>
                    <a class="title-book__link" href="javascript:;" data-fancybox data-src="#glossary-two">
                        <svg class="title-book__icon">
                            <use xlink:href="./local/img/sprite.over.svg#book"></use>
                        </svg>
                    </a>
                </div>

                <div class="championship-table">
                    <table class="table-one table-one_center table-slider" data-slider-plus="2">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="table-one__text-left">
                                    Команда
                                </th>
                                <th class="championship-table__hidden-sm">
                                    <a class="slider-str slider-str__prev" href="javascript:;"></a>
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Н
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Мак
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Мак
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Сою
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Н
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Мак
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Мак
                                </th>
                                <th class="table-one__bold table-slider__item championship-table__hidden-sm">
                                    Сою
                                </th> 
                                <th class="championship-table__hidden-sm">
                                    <a class="slider-str slider-str__next" href="javascript:;"></a>
                                </th>
                                <th class="table-one__tr-active" data-tippy-content="И — количество<br>проведенных игр">
                                    И
                                </th>
                                <th class="table-one__tr-active" data-tippy-content="В — выигрыши">
                                    В
                                </th>
                                <th class="table-one__tr-active championship-table__hidden-sm" data-tippy-content="П — проигрыши">
                                    П
                                </th>
                                <th class="table-one__tr-active championship-table__hidden-sm" data-tippy-content="Н — ничья">
                                    Н
                                </th>
                                <th class="table-one__tr-active championship-table__hidden-sm" data-tippy-content="РШ — разница забитых и<br>пропущенных шайб">
                                    РШ
                                </th>
                                <th class="table-one__tr-active championship-table__hidden-sm" data-tippy-content="ШТ — количество штрафа">
                                    ШТ
                                </th>
                                <th class="table-one__tr-active" data-tippy-content="О — количество очков">
                                    О
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="./local/uploads/championship.table.1.png" alt="" class="championship-table__img">
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Максимум</div>
                                    <div class="table-one__small table-one__light">Магнитогорск</div>
                                </td>
                                <td class="championship-table__hidden-sm"></td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">8:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">5:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">8:<span class="championship-table__lose">4</span></div>
                                    <div class="championship-table__score">0:0</div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">0</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">5:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">3:<span class="championship-table__lose">2</span></div>
                                    <div class="championship-table__score">7:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">11:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">14:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">2</span></div>
                                </td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">8:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">5:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">8:<span class="championship-table__lose">4</span></div>
                                    <div class="championship-table__score">0:0</div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">0</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">5:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">3:<span class="championship-table__lose">2</span></div>
                                    <div class="championship-table__score">7:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">11:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">14:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">2</span></div>
                                </td>
                                <td class="championship-table__hidden-sm"></td>
                                <td>15</td>
                                <td>14</td>
                                <td class="championship-table__hidden-sm">0</td>
                                <td class="championship-table__hidden-sm">1</td>
                                <td class="championship-table__hidden-sm">127-14</td>
                                <td class="championship-table__hidden-sm">90</td>
                                <td>43</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="./local/uploads/championship.table.2.png" alt="" class="championship-table__img">
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Н. Эд Машина</div>
                                    <div class="table-one__small table-one__light">Магнитогорск</div>
                                </td>
                                <td class="championship-table__hidden-sm"></td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">8:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">5:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">8:<span class="championship-table__lose">4</span></div>
                                    <div class="championship-table__score">0:0</div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">0</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">5:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">3:<span class="championship-table__lose">2</span></div>
                                    <div class="championship-table__score">7:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">11:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score">14:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">13:<span class="championship-table__lose">2</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:8</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">0</span>:5</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">4</span>:8</div>
                                    <div class="championship-table__score">0:0</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">0</span>:9</div>
                                </td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">4:4</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:4</div>
                                    <div class="championship-table__score">4:<span class="championship-table__lose">3</span></div>
                                    <div class="championship-table__score">1:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">2:<span class="championship-table__lose">1</span></div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">3:<span class="championship-table__lose">2</span></div>
                                    <div class="championship-table__score">7:<span class="championship-table__lose">6</span></div>
                                    <div class="championship-table__score">6:<span class="championship-table__lose">4</span></div>
                                    <div class="championship-table__score">8:<span class="championship-table__lose">3</span></div>
                                    <div class="championship-table__score">0:0</div>
                                </td>
                                <td class="championship-table__hidden-sm"></td>
                                <td>15</td>
                                <td>7</td>
                                <td class="championship-table__hidden-sm">6</td>
                                <td class="championship-table__hidden-sm">2</td>
                                <td class="championship-table__hidden-sm">41-57</td>
                                <td class="championship-table__hidden-sm">60</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="./local/uploads/championship.table.3.png" alt="" class="championship-table__img">
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Сокол</div>
                                    <div class="table-one__small table-one__light">Магнитогорск</div>
                                </td>
                                <td class="championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:5</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">2</span>:3</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:7</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">0</span>:11</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:9</div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">4:4</div>
                                    <div class="championship-table__score">4:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score"><span class="championship-table__lose">3</span>:4</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">0</span>:1</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:2</div>
                                </td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">2:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">4:<span class="championship-table__lose">3</span></div>
                                    <div class="championship-table__score">8:<span class="championship-table__lose">3</span></div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score"><span class="championship-table__lose">3</span>:5</div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:5</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">2</span>:3</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:7</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">0</span>:11</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:9</div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">4:4</div>
                                    <div class="championship-table__score">4:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score"><span class="championship-table__lose">3</span>:4</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">0</span>:1</div>
                                    <div class="championship-table__score"><span class="championship-table__lose">1</span>:2</div>
                                </td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">2:<span class="championship-table__lose">0</span></div>
                                    <div class="championship-table__score">4:<span class="championship-table__lose">3</span></div>
                                    <div class="championship-table__score">8:<span class="championship-table__lose">3</span></div>
                                    <div class="championship-table__score">9:<span class="championship-table__lose">1</span></div>
                                    <div class="championship-table__score"><span class="championship-table__lose">3</span>:5</div>
                                </td>
                                <td class="championship-table__hidden-sm"></td>
                                <td>15</td>
                                <td>5</td>
                                <td class="championship-table__hidden-sm">9</td>
                                <td class="championship-table__hidden-sm">1</td>
                                <td class="championship-table__hidden-sm">43-59</td>
                                <td class="championship-table__hidden-sm">119</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="./local/uploads/championship.table.4.png" alt="" class="championship-table__img">
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Союз</div>
                                    <div class="table-one__small table-one__light">Магнитогорск</div>
                                </td>
                                <td class="championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">1:9</div>
                                    <div class="championship-table__score">0:13</div>
                                    <div class="championship-table__score">1:13</div>
                                    <div class="championship-table__score">0:14</div>
                                    <div class="championship-table__score">2:13</div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">2:3</div>
                                    <div class="championship-table__score">6:7</div>
                                    <div class="championship-table__score">4:6</div>
                                    <div class="championship-table__score">3:8</div>
                                    <div class="championship-table__score">0:0</div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">0:2</div>
                                    <div class="championship-table__score">3:4</div>
                                    <div class="championship-table__score">3:8</div>
                                    <div class="championship-table__score">1:9</div>
                                    <div class="championship-table__score">5:3</div>
                                </td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">1:9</div>
                                    <div class="championship-table__score">0:13</div>
                                    <div class="championship-table__score">1:13</div>
                                    <div class="championship-table__score">0:14</div>
                                    <div class="championship-table__score">2:13</div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">2:3</div>
                                    <div class="championship-table__score">6:7</div>
                                    <div class="championship-table__score">4:6</div>
                                    <div class="championship-table__score">3:8</div>
                                    <div class="championship-table__score">0:0</div>
                                </td>
                                <td class="championship-table__hidden-sm">
                                    <div class="championship-table__score">0:2</div>
                                    <div class="championship-table__score">3:4</div>
                                    <div class="championship-table__score">3:8</div>
                                    <div class="championship-table__score">1:9</div>
                                    <div class="championship-table__score">5:3</div>
                                </td>
                                <td class="championship-table__none championship-table__hidden-sm"></td>
                                <td class="championship-table__hidden-sm"></td>
                                <td>15</td>
                                <td>1</td>
                                <td class="championship-table__hidden-sm">14</td>
                                <td class="championship-table__hidden-sm">0</td>
                                <td class="championship-table__hidden-sm">31-112</td>
                                <td class="championship-table__hidden-sm">112</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="white-block mb-30">
                <div class="championship-leaders-title">
                    <div class="block-title">
                        <div class="block-title__title">
                            <svg class="block-title__icon block-title__icon_star">
                                <use xlink:href="./local/img/sprite.svg#star"></use>
                            </svg>
                            Лидеры
                        </div>
                        <div class="championship-leaders-title__links tabs-panel">
                            <a href="javascript:;" class="tabs-panel__link tabs-panel__link_active">Бомбардиры</a>
                            <a href="javascript:;" class="tabs-panel__link">Снайперы</a>
                            <a href="javascript:;" class="tabs-panel__link">Ассистенты</a>
                            <a href="javascript:;" class="tabs-panel__link">Вратари</a>
                            <a href="javascript:;" class="tabs-panel__link">Защитники</a>
                            <a href="javascript:;" class="tabs-panel__link">Джентльмены</a>
                        </div>
                    </div>
                </div>
                <div class="championship-leaders-table">
                    <table class="table-one table-one_center table-one_hover-bold">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th class="table-one__text-left">Игрок</th>
                                <th class="d-none d-md-table-cell">Амплуа</th>
                                <th>И</th>
                                <th>Г</th>
                                <th class="d-none d-md-table-cell">П</th>
                                <th class="d-none d-md-table-cell">Ш</th>
                                <th class="d-none d-md-table-cell">ПБШ</th>
                                <th>О</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="championship-leaders-table__relative table-one__bold table-one__big">
                                    <img src="./local/uploads/championship.leaders.png" alt="" class="championship-leaders-table__img">
                                    11
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Кочнев Сергей</div>
                                    <div class="table-one__small table-one__light">СВ Металл</div>
                                </td>
                                <td class="d-none d-md-table-cell">Нап</td>
                                <td>16</td>
                                <td>22</td>
                                <td class="d-none d-md-table-cell">15</td>
                                <td class="d-none d-md-table-cell">34’</td>
                                <td class="d-none d-md-table-cell">2</td>
                                <td class="table-one__bold">15</td>
                            </tr>
                            <tr>
                                <td class="championship-leaders-table__relative table-one__bold table-one__big">
                                    <img src="./local/uploads/championship.leaders.png" alt="" class="championship-leaders-table__img championship-leaders-table__img_second">
                                    73
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Зверев Андрей</div>
                                    <div class="table-one__small table-one__light">СВ Металл</div>
                                </td>
                                <td class="d-none d-md-table-cell">Нап</td>
                                <td>14</td>
                                <td>5</td>
                                <td class="d-none d-md-table-cell">16</td>
                                <td class="d-none d-md-table-cell">2’</td>
                                <td class="d-none d-md-table-cell">2</td>
                                <td class="table-one__bold">16</td>
                            </tr>
                            <tr>
                                <td class="championship-leaders-table__relative table-one__bold table-one__big">
                                    <img src="./local/uploads/championship.leaders.png" alt="" class="championship-leaders-table__img">
                                    16
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Семушенков Дмитрий</div>
                                    <div class="table-one__small table-one__light">СВ Металл</div>
                                </td>
                                <td class="d-none d-md-table-cell">Защ</td>
                                <td>18</td>
                                <td>5</td>
                                <td class="d-none d-md-table-cell">16</td>
                                <td class="d-none d-md-table-cell">6’</td>
                                <td class="d-none d-md-table-cell">0</td>
                                <td class="table-one__bold">6</td>
                            </tr>
                            <tr>
                                <td class="championship-leaders-table__relative table-one__bold table-one__big">
                                    <img src="./local/uploads/championship.leaders.png" alt="" class="championship-leaders-table__img championship-leaders-table__img_second">
                                    98
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Королев Роман</div>
                                    <div class="table-one__small table-one__light">СКОН-Урал</div>
                                </td>
                                <td class="d-none d-md-table-cell">Нап</td>
                                <td>16</td>
                                <td>28</td>
                                <td class="d-none d-md-table-cell">5</td>
                                <td class="d-none d-md-table-cell">24’</td>
                                <td class="d-none d-md-table-cell">7</td>
                                <td class="table-one__bold">25</td>
                            </tr>
                            <tr>
                                <td class="championship-leaders-table__relative table-one__bold table-one__big">
                                    <img src="./local/uploads/championship.leaders.png" alt="" class="championship-leaders-table__img">
                                    91
                                </td>
                                <td class="table-one__text-left">
                                    <div class="table-one__bold">Мороков Андрей</div>
                                    <div class="table-one__small table-one__light">Монетка</div>
                                </td>
                                <td class="d-none d-md-table-cell">Нап</td>
                                <td>26</td>
                                <td>23</td>
                                <td class="d-none d-md-table-cell">25</td>
                                <td class="d-none d-md-table-cell">22’</td>
                                <td class="d-none d-md-table-cell">5</td>
                                <td class="table-one__bold">9</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="championship-leaders-table__bottom">
                        <a href="javascript:;" class="link-str">
                            Клуб Макарова
                            <svg class="link-str__icon">
                                <use xlink:href="./local/img/sprite.svg#str-next"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="h1 mb-25">Команды: Любитель 40+</div>
                <div class="h2 mb-25">Группа А</div>
                <div class="championship-teams">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.1.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Максимум</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.2.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Н. Эд Машина</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.3.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Сокол</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.4.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Союз</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h2 mb-25">Группа Б</div>
                <div class="championship-teams">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.5.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Армада</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.6.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Ледокол Студеный</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.7.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Московские Ястребы</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="championship-teams__item">
                                <div class="championship-teams__pict">
                                    <img src="./local/uploads/championship.team.8.png" alt="" class="championship-teams__logo">
                                </div>
                                <div class="championship-teams__name">Ночной экспресс</div>
                                <div class="championship-teams__city">Москва</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="window-glossary" id="glossary-one">
                <div class="window-glossary__head">
                    <svg class="window-glossary__head-icon">
                        <use xlink:href="./local/img/sprite.over.svg#book"></use>
                    </svg>
                    <div class="window-glossary__head-text">
                        Порядок определения мест команд круговой стадии
                    </div>
                </div>
                <div class="window-glossary__body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Перед розыгрышем командам присваиваются следующие номера посева:
                            </p>
                            <p>
                                1 посев — 1 место Группы А
                            </p>
                            <p>
                                2 посев — 2 место Группы А
                            </p>
                            <p>
                                3 посев — 3 место Группы А
                            </p>
                            <p>
                                4 посев — 4 место Группы А
                            </p>
                            <p>
                                5 посев — Победитель Группы Б
                            </p>
                            <p>
                                6 посев — Финалист Группы Б
                            </p>
                            <br>
                            <p>
                                Пары 1/4 финала и 1/2 финала составляются по принципу «сильнейший» (наивысший номер посева) со «слабейшим» (наинизший номер посева).
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                1 пара 1/4 финала: 3 посев — 6 посев
                            </p>
                            <p>
                                2 пара 1/4 финала: 4 посев — 5 посев
                            </p>
                            <p>
                                1 пара 1/2 финала: 1 посев — Низший посев
                            </p>
                            <p>
                                2 пара 1/2 финала: 2 посев — Высший посев
                            </p>
                            <br>
                            <p>
                                Финал: Финалист 1 — Финалист 2
                            </p>
                            <p>
                                Высший посев — победитель 1/4 финала имеющий наивысший номер посева
                            </p>
                            <p>
                                Низший посев — победитель 1/4 финала имеющий наинизший номер посева
                            </p>
                            <p>
                                Финалист 1 — победитель 1/2 финала имеющий наивысший номер посева
                            </p>
                            <p>
                                Финалист 2 — победитель 1/2 финала имеющий наинизший номер посева
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="window-glossary" id="glossary-two">
                <div class="window-glossary__head">
                    <svg class="window-glossary__head-icon">
                        <use xlink:href="./local/img/sprite.over.svg#book"></use>
                    </svg>
                    <div class="window-glossary__head-text">
                        Порядок определения мест команд круговой стадии
                    </div>
                </div>
                <div class="window-glossary__body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Места команд определяются по наибольшей сумме очков (О), набранных во всех матчах круговой стадии
                            </p>
                            <p>
                                В случае равенства очков у двух или более команд преимущество имеет команда:
                            </p>
                            <p>
                                1. Сыгравшая наименьшее количество матчей в круговой стадии
                            </p>
                            <p>
                                2. Набравшая наибольшее количество очков во всех матчах между этими командами
                            </p>
                            <p>
                                3. Имеющая лучшую разницу заброшенных и пропущенных шайб во всех играх между этими командами
                            </p>
                            <p>
                                4. Имеющая лучшую разницу заброшенных и пропущенных шайб во всех матчах круговой стадии
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                5. Имеющая лучшее (большее) соотношение заброшенных и пропущенных шайб (заброшенные делить на пропущенные) во всех матчах (применяется, если у всех таких команд значение больше нуля)
                            </p>
                            <p>
                                6. Имеющая наибольшее число побед во всех матчах данной стадии
                            </p>
                            <p>
                                7. Имеющая наибольшее количество заброшенных шайб во всех матчах
                            </p>
                            <p>
                                8. Имеющая наименьшее количество штрафных минут во всех матчах
                            </p>
                            <p>
                                9. Имеющая более старший средний возраст всех хоккеистов, указанных в Заявочном листе команды и допущенных до соревнования мандатной комиссией
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>