<% var data = {
    title: "Club",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Фестиваль хоккея
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Клуб Макарова
            </a>
            <a href="javascript:;" class="menu-section__link">
                Приз Якушева
            </a>
            <a href="javascript:;" class="menu-section__link">
                Студёный лёд
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">

                <h1>Клуб Сергея Макарова</h1>

                <div class="block-width-lg mb-35">
                    <img src="./local/uploads/club.jpg" alt="" class="d-block">
                </div>

                <div class="block-width-md">
                    <p class="h2">Для игроков, многие из которых выступают в Лиге с первого сезона, добившихся за это время впечатляющего по меркам даже профессионального хоккея результата, в 2015 году Ночная лига учредила символический клуб лучших снайперов, забросивших 150 и более шайб в матчах Регионального чемпионата и Фестиваля хоккея в Сочи — «Клуб Сергея Макарова».</p>
                    <p>Двукратный Олимпийский чемпион и восьмикратный чемпион мира Сергей Михайлович Макаров на протяжении карьеры забил 714 голов в официальных матчах за клубы и сборные СССР, России и NHL, и является рекордсменом отечественного хоккея по этому показателю. Сергей Михайлович с первого дня принимает самого активное участие в развитии любительского чемпионата страны и входит в Совет Легенд Ночной хоккейной лиги.</p>
                    <blockquote>
                        <p>
                            Наша лига действительно стала настоящим любительским чемпионатом России со своей историей и героями. А своих героев нужно знать: лидеров команд, лучших хоккеистов. Именно для этого мы учредили клуб лучших снайперов Ночной хоккейной лиги. Решили, что порогом вступления в него станут 150 шайб — в любительском хоккее, все-таки, игроки проводят не так много матчей за сезон, как в профессиональном. Хотя забивают, бывает, и побольше, чем в КХЛ
                        </p>
                        <div class="text-xs color-link">
                            Сергей Макаров
                        </div>
                    </blockquote>
                </div>

            </div>

            <div class="white-block">
                <div class="h1 mb-10">Участники Клуба Макарова</div>
                <div class="h2 mb-60">Всего в Клубе Макаров 21 участик</div>
                <div class="club-list">
                    <div class="club-list__item">
                        <div class="club-list__pict">
                            <img class="club-list__img" src="./local/uploads/club.face.jpg" alt="">
                        </div>
                        <div class="club-list__center">
                            <div class="club-list__num">1.</div>
                            <div class="club-list__logo">
                                <img class="club-list__logo-img" src="./local/uploads/club.logo.jpg" alt="">
                            </div>
                        </div>
                        <div class="club-list__block">
                            <div class="club-list__name">Вадим Русаков</div>
                            <div class="club-list__team">«Виктория Плюс» (г. Ставрополь), сезон 2015/16, 21.01.16</div>
                            <div class="club-list__text">
                                <a href="javascript:;">Стать первым человеком:</a> кто забил 150 голов в такой огромной лиге, как Ночная, которая охватывает всю нашу страну — это просто здорово! Это определенно успех для меня. Горжусь. Мне вообще очень приятно быть частью такого замечательного турнира, как чемпионат Ночной Хоккейной Лиги.
                            </div>
                        </div>
                    </div>
                    <div class="club-list__item">
                        <div class="club-list__pict">
                            <img class="club-list__img" src="./local/uploads/club.face.jpg" alt="">
                        </div>
                        <div class="club-list__center">
                            <div class="club-list__num">1.</div>
                            <div class="club-list__logo">
                                <img class="club-list__logo-img" src="./local/uploads/club.logo.jpg" alt="">
                            </div>
                        </div>
                        <div class="club-list__block">
                            <div class="club-list__name">Вадим Русаков</div>
                            <div class="club-list__team">«Виктория Плюс» (г. Ставрополь), сезон 2015/16, 21.01.16</div>
                            <div class="club-list__text">
                                <a href="javascript:;">Стать первым человеком:</a> кто забил 150 голов в такой огромной лиге, как Ночная, которая охватывает всю нашу страну — это просто здорово! Это определенно успех для меня. Горжусь. Мне вообще очень приятно быть частью такого замечательного турнира, как чемпионат Ночной Хоккейной Лиги.
                            </div>
                        </div>
                    </div>
                    <div class="club-list__item">
                        <div class="club-list__pict">
                            <img class="club-list__img" src="./local/uploads/club.face.jpg" alt="">
                        </div>
                        <div class="club-list__center">
                            <div class="club-list__num">1.</div>
                            <div class="club-list__logo">
                                <img class="club-list__logo-img" src="./local/uploads/club.logo.jpg" alt="">
                            </div>
                        </div>
                        <div class="club-list__block">
                            <div class="club-list__name">Вадим Русаков</div>
                            <div class="club-list__team">«Виктория Плюс» (г. Ставрополь), сезон 2015/16, 21.01.16</div>
                            <div class="club-list__text">
                                <a href="javascript:;">Стать первым человеком:</a> кто забил 150 голов в такой огромной лиге, как Ночная, которая охватывает всю нашу страну — это просто здорово! Это определенно успех для меня. Горжусь. Мне вообще очень приятно быть частью такого замечательного турнира, как чемпионат Ночной Хоккейной Лиги.
                            </div>
                        </div>
                    </div>
                    <div class="club-list__item">
                        <div class="club-list__pict">
                            <img class="club-list__img" src="./local/uploads/club.face.jpg" alt="">
                        </div>
                        <div class="club-list__center">
                            <div class="club-list__num">1.</div>
                            <div class="club-list__logo">
                                <img class="club-list__logo-img" src="./local/uploads/club.logo.jpg" alt="">
                            </div>
                        </div>
                        <div class="club-list__block">
                            <div class="club-list__name">Вадим Русаков</div>
                            <div class="club-list__team">«Виктория Плюс» (г. Ставрополь), сезон 2015/16, 21.01.16</div>
                            <div class="club-list__text">
                                <a href="javascript:;">Стать первым человеком:</a> кто забил 150 голов в такой огромной лиге, как Ночная, которая охватывает всю нашу страну — это просто здорово! Это определенно успех для меня. Горжусь. Мне вообще очень приятно быть частью такого замечательного турнира, как чемпионат Ночной Хоккейной Лиги.
                            </div>
                        </div>
                    </div>
                    <div class="club-list__btn">
                        <a href="javascript:;" class="btn-one">Показать еще</a>
                    </div>
                </div>
            </div>

            <div class="block-padding">

                <h2>
                    Ближайшие кандидаты вступления<br>
                    в клуба Макарова
                </h2>

                <div class="club-table">
                    <table class="table-one">
                        <thead>
                            <tr>
                                <th>
                                    <span class="club-table__rotate table-one__rotate">Рейтинг</span>
                                </th>
                                <th>
                                    Игрок
                                </th>
                                <th class="d-none d-md-table-cell">
                                    Регион<br>
                                    Город
                                </th>
                                <th>
                                    <span class="table-one__rotate">Дивизион</span>
                                </th>
                                <th class="table-one__text-center">
                                    Ш
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="table-one__bold">Абадонов Михаил</td>
                                <td class="table-one__small d-none d-md-table-cell">
                                    Алтайский край
                                    <div class="table-one__light">Южно-Сахалинск</div>
                                </td>
                                <td class="table-one__text-center">
                                    40+
                                </td>
                                <td class="table-one__bold table-one__text-center">
                                    147
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="table-one__bold">Бабайлов Андрей</td>
                                <td class="table-one__small d-none d-md-table-cell">
                                    Алтайский край
                                    <div class="table-one__light">Александровский р-н</div>
                                </td>
                                <td class="table-one__text-center">
                                    40+
                                </td>
                                <td class="table-one__bold table-one__text-center">
                                    147
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="table-one__bold">Вавилов Владимир</td>
                                <td class="table-one__small d-none d-md-table-cell">
                                    Алтайский край
                                    <div class="table-one__light">Южно-Сахалинск</div>
                                </td>
                                <td class="table-one__text-center">
                                    40+
                                </td>
                                <td class="table-one__bold table-one__text-center">
                                    147
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="table-one__bold">Вавренюк Михаил</td>
                                <td class="table-one__small d-none d-md-table-cell">
                                    Амурская область
                                    <div class="table-one__light">Железногорск</div>
                                </td>
                                <td class="table-one__text-center">
                                    40+
                                </td>
                                <td class="table-one__bold table-one__text-center">
                                    147
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="table-one__bold">Габдрахманов Артём</td>
                                <td class="table-one__small d-none d-md-table-cell">
                                    Архангельская область
                                    <div class="table-one__light">Комсомольск-на-Амуре</div>
                                </td>
                                <td class="table-one__text-center">
                                    40+
                                </td>
                                <td class="table-one__bold table-one__text-center">
                                    147
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>