<% var data = {
    title: "Control",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                О Лиге
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Управление
            </a>
            <a href="javascript:;" class="menu-section__link">
                Совет Легенд
            </a>
            <a href="javascript:;" class="menu-section__link">
                Сотрудничество
            </a>
            <a href="javascript:;" class="menu-section__link">
                Вопросы-ответы
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">

                <div class="h2 mb-30">Попечительский совет</div>
                <div class="control-list">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Потанин Владимир Олегович</div>
                                    <div class="control-list__text">
                                        Председатель Попечительского совета
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Башкиров Алексей Владимирович</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Тимченко Геннадий Николаевич</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Буре Павел Владимирович</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Кузнецов Алексей Олегович</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="white-block mb-30">

                <div class="h2 mb-30">Президиум</div>
                <div class="control-list">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Батехин Сергей Леонидович</div>
                                    <div class="control-list__text">
                                        Председатель Президиума
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Якушев Александр Сергеевич</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Никольский Сергей Викторович</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Войтович Ольга Валерьевна</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Каменский Валерий Викторович</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="white-block mb-30">

                <div class="h2 mb-30">Руководство</div>
                <div class="control-list">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Касатонов Алексей Викторович</div>
                                    <div class="control-list__text">
                                        Генеральный директор
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="control-list__item">
                                <div class="control-list__pict">
                                    <img class="control-list__img" src="./local/uploads/control.jpg" alt="">
                                </div>
                                <div class="control-list__block">
                                    <div class="control-list__name">Патраков Алексей Александрович</div>
                                    <div class="control-list__text">Исполнительный директор</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>