<% var data = {
    title: "Contest (Five)",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Конкурс комментаторов
            </a>
            <a href="javascript:;" class="menu-section__link">
                Задания конкурса
            </a>
            <a href="javascript:;" class="menu-section__link">
                Участники
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Результаты конкурса
            </a>
            <a href="javascript:;" class="menu-section__link">
                Плей-офф
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">

                <div class="title-back">
                    <a href="javascript:;" class="title-back__back">
                        <svg class="title-back__back-icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                    <div class="protocol-detail__head mb-60">
                        <div class="h1 mb-0">Результаты конкурса</div>
                    </div>
                </div>

                <div class="h1 mb-5">Итоговая таблица конкуса</div>
                <div class="h2">Сезон 2019/20</div>

                <div class="contest-table-result">
                    <div class="contest-table-result__block">
                        <div class="table-one-visible">
                            <div class="contest-table-result__inner">
                                <table class="table-one">
                                    <thead>
                                        <tr>
                                            <th>
                                                Участник
                                            </th>
                                            <th>
                                                Этап № 1
                                            </th>
                                            <th>
                                                Этап № 2
                                            </th>
                                            <th>
                                                Этап № 3
                                            </th>
                                            <th>
                                                Этап № 4
                                            </th>
                                            <th>
                                                Итого баллов
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Алексей Плюхин</span>
                                                <span class="table-one__num">1</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Юрий Фокеев</span>
                                                <span class="table-one__num">2</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3+1</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Алёна Селезнева</span>
                                                <span class="table-one__num">3</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Пётр Смольников</span>
                                                <span class="table-one__num">4</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Никита Чурин</span>
                                                <span class="table-one__num">5</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>12</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Максим Шевчук</span>
                                                <span class="table-one__num">6</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>5</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Максим Прохоров</span>
                                                <span class="table-one__num">7</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Максми Лукин</span>
                                                <span class="table-one__num">8</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>1</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Максим Акопов</span>
                                                <span class="table-one__num">9</span>
                                            </td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3+1</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="table-one__bold">Василий Королиньчук</span>
                                                <span class="table-one__num">10</span>
                                            </td>
                                            <td>3</td>
                                            <td>0</td>
                                            <td>3</td>
                                            <td>3</td>
                                            <td>3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="contest-table-result__bottom">
                        <div class="contest-table-result__comment">
                            *+1 — бонусные начисления
                        </div>
                        <a href="javascript:;">Оценочная коллегия</a>
                    </div>
                </div>

            </div>

            <div class="white-block mb-30">

                <div class="contest-result">
                    <div class="contest-result__num">Итоги задания № 1</div>
                    <div class="h1 mb-30">Приветствие</div>
                    <div class="contest-result__video">
                        <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                            <img src="./local/uploads/video.jpg" alt="" class="d-block">
                            <svg class="video-play__icon video-play__icon_small">
                                <use xlink:href="./local/img/sprite.svg#video-play"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="h2 mb-20">Кокнурсные работы этапа № 1 «Приветствие»</div>
                    <div class="contest-result__items">
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="white-block mb-30">

                <div class="contest-result">
                    <div class="contest-result__num">Итоги задания № 2</div>
                    <div class="h1 mb-30">Комментарий матча</div>
                    <div class="contest-result__video">
                        <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                            <img src="./local/uploads/video.jpg" alt="" class="d-block">
                            <svg class="video-play__icon video-play__icon_small">
                                <use xlink:href="./local/img/sprite.svg#video-play"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="h2 mb-20">Кокнурсные работы этапа № 2 «Комментарий матча»</div>
                    <div class="contest-result__items">
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="white-block mb-30">

                <div class="contest-result">
                    <div class="contest-result__num">Итоги задания № 3</div>
                    <div class="h1 mb-30">Флеш интервью</div>
                    <div class="contest-result__video">
                        <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                            <img src="./local/uploads/video.jpg" alt="" class="d-block">
                            <svg class="video-play__icon video-play__icon_small">
                                <use xlink:href="./local/img/sprite.svg#video-play"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="h2 mb-20">Кокнурсные работы этапа № 3 «Флеш интервью»</div>
                    <div class="contest-result__items">
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="white-block mb-30">

                <div class="contest-result">
                    <div class="contest-result__num">Итоги задания № 4</div>
                    <div class="h1 mb-30">Эксперт в студии</div>
                    <div class="contest-result__video">
                        <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                            <img src="./local/uploads/video.jpg" alt="" class="d-block">
                            <svg class="video-play__icon video-play__icon_small">
                                <use xlink:href="./local/img/sprite.svg#video-play"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="h2 mb-20">Кокнурсные работы этапа № 4 «Эксперт в студии»</div>
                    <div class="contest-result__items">
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.1.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Максим Лукин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.2.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Денис Кардаков</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.3.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Иван Вагин</div>
                        </div>
                        <div class="contest-result__item">
                            <div class="contest-result__pict">
                                <img src="./local/uploads/contest.result.4.jpg" alt="" class="contest-result__img">
                            </div>
                            <div class="contest-result__name">Алексей Плюхин</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>