<% var data = {
    title: "Contest (Three)",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Конкурс комментаторов
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Задания конкурса
            </a>
            <a href="javascript:;" class="menu-section__link">
                Участники
            </a>
            <a href="javascript:;" class="menu-section__link">
                Результаты конкурса
            </a>
            <a href="javascript:;" class="menu-section__link">
                Плей-офф
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">

                <div class="title-back">
                    <a href="javascript:;" class="title-back__back">
                        <svg class="title-back__back-icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                    <div class="protocol-detail__head mb-0">
                        <div class="h1 mb-0">Задания конкурса</div>
                    </div>
                </div>

            </div>

            <div class="accordion-list accordion-list_small mb-30">
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Регламент конкурса</a>
                    <div class="accordion-list__block">

                        <div class="block-width-md">
                            <p>Конкурс пройдет в четыре этапа, каждый из которых — отдельное задание на проверку ваших навыков. Задания будут публиковаться поочередно в одноименном разделе.</p>

                            <div class="contest-regulations">
                                <div class="contest-regulations__item">
                                    <div class="contest-regulations__left">
                                        <div class="contest-regulations__step">Этап № 1</div>
                                        <div class="contest-regulations__date">Задание будет доступно 20 февраля</div>
                                    </div>
                                    <div class="contest-regulations__right">
                                        <div class="contest-regulations__name">Ваше уникальное представление.</div>
                                        <div class="contest-regulations__info">Приём заявок с 20 февраля по 8 марта</div>
                                    </div>
                                </div>
                                <div class="contest-regulations__item">
                                    <div class="contest-regulations__left">
                                        <div class="contest-regulations__step">Этап № 2</div>
                                        <div class="contest-regulations__date">Задание будет доступно 5 марта</div>
                                    </div>
                                    <div class="contest-regulations__right">
                                        <div class="contest-regulations__name">Продемонстрирует ваши способности комментатора.</div>
                                        <div class="contest-regulations__info">Приём работ с 10 марта по 12 марта</div>
                                    </div>
                                </div>
                                <div class="contest-regulations__item">
                                    <div class="contest-regulations__left">
                                        <div class="contest-regulations__step">Этап № 3</div>
                                        <div class="contest-regulations__date">Задание будет доступно 12 марта</div>
                                    </div>
                                    <div class="contest-regulations__right">
                                        <div class="contest-regulations__name">Покажет, насколько вы юркий и умелый корреспондент.</div>
                                        <div class="contest-regulations__info">Приём работ с 12 марта по 17 марта</div>
                                    </div>
                                </div>
                                <div class="contest-regulations__item contest-regulations__item_line">
                                    <div class="contest-regulations__left">
                                        <div class="contest-regulations__step">Этап № 4</div>
                                        <div class="contest-regulations__date">Задание будет доступно 19 марта</div>
                                    </div>
                                    <div class="contest-regulations__right">
                                        <div class="contest-regulations__name">Проверит насколько вы комфортно и профессионально чувствуете себя в роли эксперта в телевизионной студии.</div>
                                        <div class="contest-regulations__info">Приём работ с 19 марта по 23 матра</div>
                                    </div>
                                </div>
                            </div>

                            <p>Участникам будут присуждаться баллы:</p>
                            <p class="text-sm">
                                <b>0 баллов —</b> задание не выполнено совсем или неудовлетворительно<br>
                                <b>1 балл —</b> задание имеет недочеты<br>
                                <b>3 балла —</b> задание выполнено безупречно
                            </p>
                            <p class="text-sm">Как и всегда, мы не можем не учитывать мнение ваших слушателей-болельщиков. Каждую неделю на нашей официальной страничке ВКонтакте будет публиковаться опрос. По его результатам лидеры голосования будут получать дополнительный балл в качестве бонуса к основным результатам.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="contest-task">
                    <div class="contest-task__num">Задание № 1</div>
                    <div class="contest-task__title h1">Приветствие</div>
                    <div class="contest-task__block">
                        <div class="contest-task__left">
                            <div class="contest-task__video">
                                <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                                    <img src="./local/uploads/video.jpg" alt="" class="d-block">
                                    <svg class="video-play__icon video-play__icon_small">
                                        <use xlink:href="./local/img/sprite.svg#video-play"></use>
                                    </svg>
                                </a>
                            </div>
                            <p>Заявки вы можете публиковать и в социальных сетях — выкладывайте записанные видео в своих аккаунтах с хэштегами:</p>
                            <p>
                                <b>#ХОЧУВСОЧИ2020 и #NHLIGA</b>
                            </p>
                        </div>
                        <div class="contest-task__right">
                            <div class="contest-task__text">
                                <p>Первое задание — это заявка на участие в конкурсе. Запишите приветствие на камеру длительностью ровно 30 секунд. В нём успейте рассказать как можно больше фактов о себе. Больше баллов получит тот, у кого количество слов в секунду будет выше, чем у остальных. Не забывайте про дикцию и приветливость!</p>
                                <p>Записанный ролик надо прикрепить вложением к письму и отправить на электронную почту конкурса — <a href="mailto:konkurs@nhliga">konkurs@nhliga</a>. com с темой «Хочу в Сочи 2020». В письме также просим указать имя и фамилию, возраст, город и ссылки на социальные сети, чтобы создать профиль участника конкурса.</p>
                                <b>Срок приема заявок для участия в конкурсе — до 8 марта включительно.</b>
                            </div>
                            <a href="javascript:;" class="btn-one btn-short">Итоги задания № 1</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="contest-task">
                    <div class="contest-task__num">Задание № 2</div>
                    <div class="contest-task__title h1">Комментарий матча</div>
                    <div class="contest-task__block">
                        <div class="contest-task__left">
                            <div class="contest-task__video">
                                <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                                    <img src="./local/uploads/video.jpg" alt="" class="d-block">
                                    <svg class="video-play__icon video-play__icon_small">
                                        <use xlink:href="./local/img/sprite.svg#video-play"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="contest-task__right">
                            <div class="contest-task__text">
                                <p>Второе задание — это то самое, ради чего вы здесь. Это — комментарий матча! В понедельник, 9 марта в 20:00 (МСК), вам нужно быть у своих экранов и в полной боевой готовности.</p>
                                <p>За час до начала трансляции всем участникам на электронную почту будут высланы подробности о матче, а также ссылка на эфир.</p>
                                <p>Прокомментировать нужно будет всего один период. И для этого вам понадобится только устройство, на котором вы будете смотреть эфир и устройство для записи аудио. Не забудьте проверить работу вашего оборудования заранее.</p>
                                <b>Аудиодорожку (в формате .mp3) с вашим комментарием нужно будет прислать не позднее 23:59 11 марта.</b>
                            </div>
                            <a href="javascript:;" class="btn-one btn-short">Итоги задания № 2</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="contest-task">
                    <div class="contest-task__num">Задание № 3</div>
                    <div class="contest-task__title h1">Флеш интервью</div>
                    <div class="contest-task__block">
                        <div class="contest-task__left">
                            <div class="contest-task__video">
                                <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                                    <img src="./local/uploads/video.jpg" alt="" class="d-block">
                                    <svg class="video-play__icon video-play__icon_small">
                                        <use xlink:href="./local/img/sprite.svg#video-play"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="contest-task__right">
                            <div class="contest-task__text">
                                <p>Вам необходимо прийти на любой хоккейный матч (лучше на матч Ночной Лиги) и записать короткое интервью с участником встречи.</p>
                                <p>Главное чтобы интервью получилось интересным, не было смонтированным и длилось не больше одной минуты.</p>
                                <b>Запись нужно будет прислать до 23:59 17 марта.</b>
                            </div>
                            <a href="javascript:;" class="btn-one btn-short">Итоги задания № 3</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="contest-task">
                    <div class="contest-task__num">Задание № 4</div>
                    <div class="contest-task__title h1">Эксперт в студии</div>
                    <div class="contest-task__block">
                        <div class="contest-task__left">
                            <div class="contest-task__video">
                                <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                                    <img src="./local/uploads/video.jpg" alt="" class="d-block">
                                    <svg class="video-play__icon video-play__icon_small">
                                        <use xlink:href="./local/img/sprite.svg#video-play"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="contest-task__right">
                            <div class="contest-task__text">
                                <p>Финальный этап конкурса призван показать, насколько умело вы справитесь с ролью эксперта ТВ-студии.</p>
                                <p>Вечером 23 марта, в понедельник, в 20:00 по московскому времени, вам нужно будет прокомментировать матч — письмо с информацией вы получите за час до эфира.</p>
                                <p>Весь матч комментировать не нужно, только последний период, хотя для более качественного эфира вам все-таки придется следить за ходом игры. Вооружитесь своим телефоном (обязательно проверьте качество звука и картинки заранее) и включите запись на 50-й минуте встречи. Прокомментируйте последние 10 минут встречи, а после окончания расскажите зрителям свое экспертное мнение о матче в пятиминутном включении из вашей импровизированной студии.</p>
                                <b>Мы будем ждать от вас аналитику прошедшего матча на почте до 23:59 понедельника 23 марта.</b>
                            </div>
                            <a href="javascript:;" class="btn-one btn-short">Итоги задания № 4</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>