<% var data = {
    title: "Contest (Four)",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Конкурс комментаторов
            </a>
            <a href="javascript:;" class="menu-section__link">
                Задания конкурса
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Участники
            </a>
            <a href="javascript:;" class="menu-section__link">
                Результаты конкурса
            </a>
            <a href="javascript:;" class="menu-section__link">
                Плей-офф
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-25">

                <div class="title-back">
                    <a href="javascript:;" class="title-back__back">
                        <svg class="title-back__back-icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                    <div class="protocol-detail__head">
                        <div class="h1 mb-0">Участники 2019/20</div>
                    </div>
                </div>

                <div class="contest-participant">
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                    <div class="contest-participant__item">
                        <div class="contest-participant__pict">
                            <img src="./local/uploads/contest.jury.jpg" alt="" class="contest-participant__img">
                        </div>
                        <div class="contest-participant__block">
                            <div class="contest-participant__name">Юрий Фокеев</div>
                            <div class="contest-participant__city">Магнитогорск</div>
                            <div class="contest-participant__text">Спортивный и киберспортивный комментатор. Официальный голос хоккейно лиги CHL. Комментатор Студенческой Хоккейно Лиги.</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>