<% var data = {
    title: "Contacts",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Чемпионат
            </a>
            <a href="javascript:;" class="menu-section__link">
                Протоколы СДК
            </a>
            <a href="javascript:;" class="menu-section__link">
                Платежи
            </a>
            <a href="javascript:;" class="menu-section__link">
                Документы
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Контакты
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">
                <div class="h1-and-link">
                    <h1 class="mb-0">Контакты</h1>
                    <a href="javascript:;" class="link-str d-none d-lg-flex">
                        Представители всех регионов
                        <svg class="link-str__icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                </div>

                <div class="contact-main">
                    <div class="contact-main__pict">
                        <img class="contact-main__img" src="./local/img/obl.1.png" alt="">
                    </div>
                    <div class="h2">Региональные представители</div>
                    <div class="row black-link">
                        <div class="col-md-6">
                            <div class="mb-45">
                                <div class="contact-main__title">Дивизион 40+</div>
                                <b>Ларин Дмитрий Юрьевич</b><br>
                                <a href="tel:+79308272828">+7 (930) 827-28-28</a><br>
                                <a href="mailto:bryansk@nhliga.com">bryansk@nhliga.com</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-45">
                                <div class="contact-main__title">Лига Надежды</div>
                                <b>Алексеев Сергей Николаевич</b><br>
                                <a href="tel:+79208401122">+7 (920) 840-11-22</a><br>
                                <a href="mailto:bryansk18@nhliga.com">bryansk18@nhliga.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="h2">Главный судья</div>
                    <div class="row black-link">
                        <div class="col-md-6">
                            <div>
                                <div class="contact-main__title">Дивизион 40+</div>
                                <b>Старченкова Вилена Сергеевна</b><br>
                                <a href="tel:+79803330838">+7 (980) 333-08-38</a><br>
                                <a href="mailto:vilena_st@nhliga.com">vilena_st@mail.ru</a>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="contact-main__all text-sm">Все арбитры региона</a>
                </div>

            </div>
            <div class="white-block mb-30">

                <div class="contact-list">
                    <div class="title-icon">
                        <div class="title-icon__pict">
                            <img class="title-icon__img" src="./local/img/arena.svg" alt="">
                        </div>
                        <div class="h2 mb-0">Арены</div>
                    </div>
                    <div class="contact-list__block black-link">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Айс</b><br>
                                    Екатеринбург, ул.Щербакова 2Д
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>КРК «Уралец»</b><br>
                                    Екатеринбург, ул.Большакова 90 ЛДС
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Арена «Авто»</b><br>
                                    Екатеринбург, ул.Счастливая, 14
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>«Снежинка»</b><br>
                                    Екатеринбург, ул. Куйбышева, 32А
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Дацюк-Арена</b><br>
                                    Екатеринбург, ул.Куйбышева 32А, стр.2
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Спартаковец</b><br>
                                    Екатеринбург, Ул. Энгельса, 31А
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="white-block mb-45">

                <div class="contact-list">
                    <div class="title-icon">
                        <div class="title-icon__pict">
                            <img class="title-icon__img" src="./local/img/medicina.svg" alt="">
                        </div>
                        <div class="h2 mb-0">Медицина</div>
                    </div>
                    <div class="contact-list__block black-link">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Врачебно-спортивный диспансер</b><br>
                                    <a href="tel:+74951790942">+7 (495) 179-09-42</a><br>
                                    Москва, Ленинградский проспект, 39
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Врачебно-физкультурный диспансер</b><br>
                                    <a href="tel:+74956137749">+7 (495) 613-77-49</a><br>
                                    Москва, Ленинградский проспект, 36 м
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Врачебно-физкультурный диспансер</b><br>
                                    <a href="tel:+74967541901">+7 (4967) 54-19-01</a><br>
                                    Москва, улица Большая Серпуховская, 56
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Врачебно-физкультурный диспансер №16</b><br>
                                    <a href="tel:+74953042063">+7 (495) 304-20-63</a><br>
                                    Москва, Ленинградский проспект, 36 м
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Врачебно-физкультурный диспансер №17</b><br>
                                    <a href="tel:+74956024660">+7 (495) 602-46-60</a><br>
                                    Москва, Мира проспект, 99
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-30">
                                    <b>Спартаковец</b><br>
                                    <a href="tel:+74956137749">+7 (495) 613-77-49</a><br>
                                    Москва, Ленинградский проспект, 36 м
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-contact.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>