<% var data = {
    title: "Cooperation",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                О Лиге
            </a>
            <a href="javascript:;" class="menu-section__link">
                Управление
            </a>
            <a href="javascript:;" class="menu-section__link">
                Совет Легенд
            </a>
            <a href="javascript:;" class="menu-section__link">
                Трофеи
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Сотрудничество
            </a>
            <a href="javascript:;" class="menu-section__link">
                Вопрос-ответ
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-15">
                <h1 class="mb-25">Сотрудничество</h1>
                <div class="block-width-xs text-lg">
                    Если вам интересно спонсорство в сфере спорта, вы хотите расширить целевую аудиторию и получить лояльного потребителя — приглашаем к сотрудничеству
                </div>
            </div>

            <div class="cooperation-info black-block">
                <img src="./local/img/cooperation.info.title.svg" alt="" class="cooperation-info__title">
                <div class="block-width-sm mb-35">
                    не имеющая в мире аналогов организация, занимающаяся популяризацией и развитием массового спорта. Ночная лига проводит чемпионат России по хоккею среди любителей, объединивший более 20 тысяч спортсменов со всех уголков страны и еще столько же неравнодушных болельщиков — друзей, жён и детей
                </div>
                <div class="cooperation-info__items">
                    <div class="cooperation-info__item cooperation-info__item_margin">
                        <div class="cooperation-info__count">1 112</div>
                        <div class="cooperation-info__label">команд</div>
                    </div>
                    <div class="cooperation-info__item cooperation-info__item_margin">
                        <div class="cooperation-info__count">2 250</div>
                        <div class="cooperation-info__label">игроков</div>
                    </div>
                    <div class="cooperation-info__item">
                        <div class="cooperation-info__count">75 000</div>
                        <div class="cooperation-info__label">аудитория</div>
                    </div>
                </div>
            </div>

            <div class="block-padding">
                <div class="h1 mb-30">Спецпроекты</div>
            </div>

            <div class="accordion-list accordion-list_middle mb-55">
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Гала-матч</a>
                    <div class="accordion-list__block">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolores, voluptate eveniet nihil culpa voluptas nobis recusandae? Vitae officia veniam, doloremque nihil quidem quae assumenda, eum, nemo eligendi illum eveniet!
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Фестиваль хоккея</a>
                    <div class="accordion-list__block">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolores, voluptate eveniet nihil culpa voluptas nobis recusandae? Vitae officia veniam, doloremque nihil quidem quae assumenda, eum, nemo eligendi illum eveniet!
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Кубок Легенд</a>
                    <div class="accordion-list__block">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolores, voluptate eveniet nihil culpa voluptas nobis recusandae? Vitae officia veniam, doloremque nihil quidem quae assumenda, eum, nemo eligendi illum eveniet!
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Кубок Чемпионов</a>
                    <div class="accordion-list__block">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolores, voluptate eveniet nihil culpa voluptas nobis recusandae? Vitae officia veniam, doloremque nihil quidem quae assumenda, eum, nemo eligendi illum eveniet!
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Студеный лёд</a>
                    <div class="accordion-list__block">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolores, voluptate eveniet nihil culpa voluptas nobis recusandae? Vitae officia veniam, doloremque nihil quidem quae assumenda, eum, nemo eligendi illum eveniet!
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Матчи закрытия сезона</a>
                    <div class="accordion-list__block">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolores, voluptate eveniet nihil culpa voluptas nobis recusandae? Vitae officia veniam, doloremque nihil quidem quae assumenda, eum, nemo eligendi illum eveniet!
                    </div>
                </div>
                
            </div>

            <div class="cooperation-media-kit black-block mb-35">
                <div class="cooperation-media-kit__inner">
                    <div class="cooperation-media-kit__text">
                        Более подробно ознакомиться со всеми возможностями вы можете в нашем Медиаките
                    </div>
                    <a href="javascript:;" class="cooperation-media-kit__link">Скачать Медиа-кит</a>
                </div>
            </div>

            <div class="white-block mb-40">
                <div class="cooperation-contact">
                    <div class="cooperation-contact__title">
                        По вопросам рекламы, коммерческого сотрудничества и информационного партнёрства:
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mb-15">
                                <div class="cooperation-contact__name">Отдел маркетинга</div>
                                <a href="mailto:marketing@nhliga.com">marketing@nhliga.com</a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="cooperation-contact__name">Руководитель партнёрских программ</div>
                            Марина Богомолова<br>
                            <a href="mailto:marketing@nhliga.com">bogomolova@nhliga.com</a>
                            <div class="black-link">
                                <a href="tel:+79266572067">+ 7 (926) 657-20-67</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>