<% var data = {
    title: "Docs",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Чемпионат
            </a>
            <a href="javascript:;" class="menu-section__link">
                Протоколы СДК
            </a>
            <a href="javascript:;" class="menu-section__link">
                Платежи
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Документы
            </a>
            <a href="javascript:;" class="menu-section__link">
                Контакты
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">
                <div class="title-icon">
                    <div class="title-icon__pict">
                        <img class="title-icon__img" src="./local/img/doc.1.svg" alt="">
                    </div>
                    <div class="h2 mb-0">Документы регионам</div>
                </div>
                <div class="doc-list">
                    <div class="doc-list__items black-link">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="doc-list__link doc-list__link_bold" href="javascript:;">
                                    Положение о Региональном представителе Фонда «Ночная Хоккейная Лига» <span class="doc-list__size">(PDF, 13 Мб)</span>
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Положение о X Всероссийском Фестивале по хоккею среди любительских команд <span class="doc-list__size">(PDF, 7 Мб)</span>
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Регламент Отборочного этапа X Всероссийского Фестиваля по хоккею среди любительских команд <span class="doc-list__size">(PDF, 20 Мб)</span>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Договор об участии в Х Фестивале
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Согласие на обработку персональных данных участника
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Положение о региональном представителе Фонда «Ночная Хоккейная Лига»
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="doc-list__bottom">
                        <a href="javascript:;" class="link-str">
                            Архив документов по сезонам
                            <svg class="link-str__icon">
                                <use xlink:href="./local/img/sprite.svg#str-next"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="title-icon">
                    <div class="title-icon__pict">
                        <img class="title-icon__img" src="./local/img/doc.2.svg" alt="">
                    </div>
                    <div class="h2 mb-0">Образцы и шаблоны</div>
                </div>
                <div class="doc-list">
                    <div class="doc-list__items black-link">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Анкета хоккеиста и заявочный лист команды
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Шаблон дозаявочного листа команды
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Шаблон протокола матча
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Образец заявления на перенос оплаты участия
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Образец заявления на возврат средств за участие (ошибка при оплате, отказ от участия)
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Образец заявления на возврат излишне уплаченных средств за участие
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="title-icon">
                    <div class="title-icon__pict">
                        <img class="title-icon__img" src="./local/img/doc.3.svg" alt="">
                    </div>
                    <div class="h2 mb-0">Файлы</div>
                </div>
                <div class="doc-list">
                    <div class="doc-list__items black-link">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Логотип Ночной Хоккейной Лиги
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Логотип 10-го сезона
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Фирменный стиль регулярного чемпионата
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Пресс-волл регулярного чемпионата
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Борта на арену
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Дизайн растяжки на арену
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Обои на рабочий стол и телефон
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="title-icon">
                    <div class="title-icon__pict">
                        <img class="title-icon__img" src="./local/img/doc.4.svg" alt="">
                    </div>
                    <div class="h2 mb-0">Судьям</div>
                </div>
                <div class="doc-list">
                    <div class="doc-list__items black-link">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Правила по хоккею, утвержденные Минспорта РФ
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Официальная книга правил IIHF 2018-2022 <span class="doc-list__size">(PDF, 8 Мб)</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-45">
                <div class="title-icon">
                    <div class="title-icon__pict">
                        <img class="title-icon__img" src="./local/img/doc.5.svg" alt="">
                    </div>
                    <div class="h2 mb-0">Законы</div>
                </div>
                <div class="doc-list">
                    <div class="doc-list__items black-link">
                        <div class="row">
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Федеральный закон о физической культуре и спорте РФ от 04.12.2007 №29-ФЗ
                                </a>
                                <a class="doc-list__link" href="javascript:;">
                                    Распоряжение Правительства Российской Федерации, изменение 2017
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="doc-list__link" href="javascript:;">
                                    Постановление Правительства Российской Федерации от 24.01.2019 № 33
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>