<% var data = {
    title: "Elements",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<br><br>
<div class="container">
    <div class="white-block mb-45">
        
        <h1>
            H1 Super (Заголовок №1)
        </h1>

        <h2>
            H2 Lead Bold (Заголовок №2)
        </h2>

        <h3>
            H3 Bold (Заголовок №3)
        </h3>

        <h4>
            H4 Link Active (Заголовок №4)
        </h4>

        <h5>
            H5 Add Bold (Заголовок №5)
        </h5>

        <p>
            Lorem Ipsum - это текст-"рыба", часто <a href="javascript:;">используемый в печати и вэб-дизайне</a>. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        </p>

        <p>
            <a href="javascript:;">Lorem Ipsum</a> - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        </p>

        <p>
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        </p>

        <hr>

        <div class="h2">Button</div>

        <a href="javascript:;" class="btn-one">Все альбомы</a>
        <a href="javascript:;" class="btn-two">Все альбомы</a>
        <a href="javascript:;" class="btn-three">Все альбомы</a>
        <a href="javascript:;" class="btn-four">Все альбомы</a>
        <a href="javascript:;" class="btn-five">Все альбомы</a>

        <hr>

        <div class="h2">Tabs (1)</div>

        <div class="tabs-panel tabs-panel_active" data-for="some-tab">
            <a href="javascript:;" data-id="some-tab1" class="tabs-panel__link tabs-panel__link_active">Первая вкладка</a>
            <a href="javascript:;" data-id="some-tab2" class="tabs-panel__link">Вторая вкладка</a>
        </div>

        <br>

        <div class="tabs-items" id="some-tab">
            <div class="tabs-items__item tabs-items__item_active" id="some-tab1">
                Содержимое первой вкладки
            </div>
            <div class="tabs-items__item" id="some-tab2">
                Содержимое второй вкладки
            </div>
        </div>
        
        <hr>

        <div class="h2">Tabs (2)</div>

        <div class="tabs-num tabs-num_active" data-for="match">
            <a href="javascript:;" data-id="match1" class="tabs-num__link tabs-num__link_active">
                <svg class="tabs-num__icon tabs-num__icon_f">
                    <use xlink:href="./local/img/sprite.num.svg#f"></use>
                </svg>
            </a>
            <a href="javascript:;" data-id="match2" class="tabs-num__link">
                <svg class="tabs-num__icon tabs-num__icon_fa">
                    <use xlink:href="./local/img/sprite.num.svg#fa"></use>
                </svg>
            </a>
            <a href="javascript:;" data-id="match3" class="tabs-num__link">
                <svg class="tabs-num__icon tabs-num__icon_fb">
                    <use xlink:href="./local/img/sprite.num.svg#fb"></use>
                </svg>
            </a>
            <a href="javascript:;" data-id="match4" class="tabs-num__link">
                <svg class="tabs-num__icon tabs-num__icon_lm">
                    <use xlink:href="./local/img/sprite.num.svg#lm"></use>
                </svg>
            </a>
            <a href="javascript:;" data-id="match5" class="tabs-num__link">
                <svg class="tabs-num__icon tabs-num__icon_ln">
                    <use xlink:href="./local/img/sprite.num.svg#ln"></use>
                </svg>
            </a>
        </div>

        <br>

        <div class="tabs-items" id="match">
            <div class="tabs-items__item tabs-items__item_active" id="match1">
                Содержимое 1 вкладки
            </div>
            <div class="tabs-items__item" id="match2">
                Содержимое 2 вкладки
            </div>
            <div class="tabs-items__item" id="match3">
                Содержимое 3 вкладки
            </div>
            <div class="tabs-items__item" id="match4">
                Содержимое 4 вкладки
            </div>
            <div class="tabs-items__item" id="match5">
                Содержимое 5 вкладки
            </div>
        </div>

        <hr>

        <div class="h2">Next link</div>

        <a href="javascript:;" class="link-str">
            Вся таблица
            <svg class="link-str__icon">
                <use xlink:href="./local/img/sprite.svg#str-next"></use>
            </svg>
        </a>

        <hr>

        <div class="h2">Block title</div>

        <div class="block-title">
            <a href="javascript:;" class="block-title__name">
                <svg class="block-title__icon block-title__icon_star">
                    <use xlink:href="./local/img/sprite.svg#star"></use>
                </svg>
                Лидеры
            </a>
        </div>

        <hr>

        <div class="h2">Calendar</div>

        <div class="our-datepicker"></div>

        <script>
            var eventDates = ['02.08.20', '05.08.20', '18.08.20', '22.08.20', '01.09.20', '10.09.20', '21.09.20', '23.09.20'];
        </script>

    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>