<% var data = {
    title: "Faq",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                О Лиге
            </a>
            <a href="javascript:;" class="menu-section__link">
                Управление
            </a>
            <a href="javascript:;" class="menu-section__link">
                Совет Легенд 
            </a>
            <a href="javascript:;" class="menu-section__link">
                Сотрудничество
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Вопрос-ответ
            </a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="block-padding">
        <h1>Вопрос-ответ (FAQ)</h1>
    </div>

    <div class="row">
        <div class="col-lg-9">

            <div class="accordion-list accordion-list_small">
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link accordion-list__link_open">Как стать участником Ночной Лиги?</a>
                    <div class="accordion-list__block accordion-list__block_open">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Как организовать Студёный Лёд у себя в регионе?</a>
                    <div class="accordion-list__block">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Где оплатить членство?</a>
                    <div class="accordion-list__block">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">
                        Не согласен со штрафными санкциями? —<br class="d-none d-md-block"> руководство к действию
                    </a>
                    <div class="accordion-list__block">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">
                        Чем отличаются дивизионы Любитель 40+, Лига Мечты<br class="d-none d-md-block"> и Лига Надежды?
                    </a>
                    <div class="accordion-list__block">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Где найти адреса хоккейных арен моего города?</a>
                    <div class="accordion-list__block">


                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Где найти адреса хоккейных арен моего города?</a>
                    <div class="accordion-list__block">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Что такое Ночная Хоккейная Лига?</a>
                    <div class="accordion-list__block">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
                <div class="accordion-list__item">
                    <a href="javascript:;" class="accordion-list__link">Где скачать актуальные правила по хоккею?</a>
                    <div class="accordion-list__block">
                        <p>
                            В богатой истории Всероссийского Фестиваля по хоккею среди любительских команд есть особая страница — игроки, многие из которых выступают в Ночной Хоккейной Лиге с первого сезона, добившиеся за это время впечатляющего по меркам даже профессионального хоккея результата — 150 шайб в любительском чемпионате страны.
                        </p>
                        <p>
                            Именно для этих героев Ночная Лига учредила в 2015 году символический клуб лучших снайперов, забросивших 150 и более шайб в матчах регионального Отборочного этапа и Финала Всероссийского Фестиваля в Сочи — «Клуб Сергея Макарова».
                        </p>
                    </div>
                </div>
            </div>

            <div class="block-padding">

                <div class="faq-form form-one">
                    <form>
                        <div class="h1 mb-5">Остались вопросы?</div>
                        <div class="faq-form__desc">Мы готовы ответить на любые ваши вопросы и предложения</div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-one__line">
                                    <input class="form-one__input" type="text" value="" placeholder="Ваше имя">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-one__line">
                                    <input class="form-one__input" type="email" value="" placeholder="E-mail">
                                </div>
                            </div>
                        </div>
                        <div class="form-one__line">
                            <textarea class="form-one__textarea" placeholder="Ваш вопрос"></textarea>
                        </div>
                        <div class="faq-form__bottom">
                            <input type="file" class="faq-form__file file-input" value="" data-placeholder="Прикрепить файл">
                            <button type="submit" class="btn-one">Отправить</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>