<% var data = {
    title: "Festival",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Фестиваль хоккея
            </a>
            <a href="javascript:;" class="menu-section__link">
                Клуб Макарова
            </a>
            <a href="javascript:;" class="menu-section__link">
                Приз Якушева
            </a>
            <a href="javascript:;" class="menu-section__link">
                Студёный лёд
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-45">

                <h1>Фестиваль Хоккея</h1>

                <div class="panel-btn">
                    <a href="javascript:;" class="panel-btn__link">IX.</a>
                    <a href="javascript:;" class="panel-btn__link panel-btn__link_active">VIII.</a>
                    <a href="javascript:;" class="panel-btn__link">VII.</a>
                    <a href="javascript:;" class="panel-btn__link">VI.</a>
                    <a href="javascript:;" class="panel-btn__link">V.</a>
                    <a href="javascript:;" class="panel-btn__link">IV.</a>
                    <a href="javascript:;" class="panel-btn__link">III.</a>
                    <a href="javascript:;" class="panel-btn__link">II.</a>
                    <a href="javascript:;" class="panel-btn__link">I.</a>
                </div>

                <div class="festival-head">
                    <div class="festival-head__pict">
                        <img class="festival-head__img" src="./local/uploads/final.position.jpg" alt="">
                    </div>
                    <div class="festival-head__text">
                        <div class="h2 mb-5">VIII Всероссийский Фестиваль по хоккею среди любительских команд</div>
                        <div class="festival-head__desc">Финал Фестиваля: Сочи, 3–17 мая 2019 года</div>
                        <div class="festival-head__items">
                            <div class="festival-head__item">
                                <div class="festival-head__num">75</div>
                                <div class="festival-head__txt">регионов</div>
                            </div>
                            <div class="festival-head__item">
                                <div class="festival-head__num">1026</div>
                                <div class="festival-head__txt">команд</div>
                            </div>
                            <div class="festival-head__item">
                                <div class="festival-head__num">20207</div>
                                <div class="festival-head__txt">участников</div>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn-one btn-short">Официальный сайт Фестиваля</a>
                        <div class="festival-head__bottom">
                            <a href="javascript:;" class="festival-head__bottom-link">Скачать брошюру фестиваля</a>
                        </div>
                    </div>
                </div>

                <div class="broadcasts-list mb-50">
                    <div class="broadcasts-list__item">
                        <a class="broadcasts-list__link" href="javascript:;">
                            <div class="broadcasts-list__pict pict-shadow">
                                <img class="broadcasts-list__img" src="./local/uploads/broadcasts.top.1.jpg" alt="">
                                <svg class="icon-video icon-all_white icon-all_left-bottom">
                                    <use xlink:href="./local/img/sprite.svg#video"></use>
                                </svg>
                            </div>
                            <div class="broadcasts-list__name">18+ Лига Надежды. Группа 6. Финал. Арсенал - Прохоккей</div>
                        </a>
                        <div class="broadcasts-list__place">Санкт-Петербург</div>
                        <div class="broadcasts-list__date">Сейчас</div>
                    </div>
                    <div class="broadcasts-list__item">
                        <a class="broadcasts-list__link" href="javascript:;">
                            <div class="broadcasts-list__pict pict-shadow">
                                <img class="broadcasts-list__img" src="./local/uploads/broadcasts.top.2.jpg" alt="">
                                <svg class="icon-video icon-all_white icon-all_left-bottom">
                                    <use xlink:href="./local/img/sprite.svg#video"></use>
                                </svg>
                            </div>
                            <div class="broadcasts-list__name">18+ Лига Надежды. Группа 8. Полуфинал. Ягуар 2</div>
                        </a>
                        <div class="broadcasts-list__place">Хабаровский край</div>
                        <div class="broadcasts-list__date">Сейчас</div>
                    </div>
                    <div class="broadcasts-list__item">
                        <a class="broadcasts-list__link" href="javascript:;">
                            <div class="broadcasts-list__pict pict-shadow">
                                <img class="broadcasts-list__img" src="./local/uploads/broadcasts.top.3.jpg" alt="">
                                <svg class="icon-video icon-all_white icon-all_left-bottom">
                                    <use xlink:href="./local/img/sprite.svg#video"></use>
                                </svg>
                            </div>
                            <div class="broadcasts-list__name">18+ Лига Надежды. Группа 5. Финал. Литостар - Урфин</div>
                        </a>
                        <div class="broadcasts-list__place">Сочи</div>
                        <div class="broadcasts-list__date">Сейчас</div>
                    </div>
                    <div class="broadcasts-list__btn">
                        <a href="javascript:;" class="btn-four btn-short">Призёры фестиваля</a>
                        <a href="javascript:;" class="btn-four btn-short">Итоговое положение команд</a>
                    </div>
                </div>

                <div class="h1 block-width-md">Самом большом регионе любительского чемпионата страны, насчитывающем 100 команд!</div>

                <div class="block-width-lg mb-35">
                    <img src="./local/uploads/festival.xs.jpg" alt="">
                </div>

                <div class="block-width-md">
                    <p class="h2 no-bold">963 команды из 76 регионов — и снова так много участников в любительском чемпионате страны никогда не бывало. Соревнования Отборочного этапа в сезоне 2018/19 длились с начала сентября по первую декаду апреля — стартовав 1 сентября открытием очередного сезона Ночной Лиги в Москве.</p>
                    <p>Участие в Отборочном этапе VIII Фестиваля приняли 19 350 хоккеистов-любителей. И чисто любительский дивизион «Лига Надежды» с 457 командами по стране впервые в истории обошел прежде неизменно самый массовый «40+» — 401 команда. Правда, география осталась за теми, кто от 40 и старше — их турниры прошли в 68 регионах, а «Надежда» охватила 51 субъект Российской Федерации.</p>
                    <p>Почти 20 тысяч игроков! 3 031 из них приехал в Сочи на Финал VIII Фестиваля, где сыграли целых 162 команды. Сюда мы включаем и шесть женских коллективов в дивизионе «Амазонки», ведь все его участники — результат отбора в «регулярке» Лиге женского хоккея. А в рамках Финала Ночной Лиги происходит «финальная пулька». Впервые, кстати, она прошла не круговым турниром, а с групповым этапом и плей-офф. Победителем стал бессменный чемпион ЛЖХ — московская команда «Град-1».</p>
                    <p>Главные события всего Фестиваля развивались, конечно, в главных дивизионах: «40+» и «18+» — «Лиге Надежды» и «Лиге Мечты». Там, где разыгрываются три главных трофея Ночной Лиги, ее переходящие кубки: Кубок Крутова, Кубок Надежды и Кубок Мечты.</p>
                    <p>Количественный состав основных дивизионов Финала Фестиваля остался неизменным: 64 команды в «Лиге Чемпионов», 32 в «Лиге Надежды» и 16 в «Лиге Мечты». И везде развернулась упорная и зачастую непредсказуемая борьба, подарившая нам по итогу вовсе не заранее прогнозируемых чемпионов.</p>
                </div>
                <div class="block-width-sm">
                    <div class="slider-inner">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="slider-inner__item swiper-slide">
                                    <img class="slider-inner__img" src="./local/uploads/slider.festival.jpg" alt="">
                                </div>
                                <div class="slider-inner__item swiper-slide">
                                    <img class="slider-inner__img" src="./local/uploads/slider.festival.jpg" alt="">
                                </div>
                                <div class="slider-inner__item swiper-slide">
                                    <img class="slider-inner__img" src="./local/uploads/slider.festival.jpg" alt="">
                                </div>
                                <div class="slider-inner__item swiper-slide">
                                    <img class="slider-inner__img" src="./local/uploads/slider.festival.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slider-inner__bottom">
                            <div class="slider-inner__count"></div>
                            <div class="slider-inner__str">
                                <a href="javascript:;" class="slider-inner__prev"></a>
                                <a href="javascript:;" class="slider-inner__next"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-width-md">
                    <p>Участие в Отборочном этапе VIII Фестиваля приняли 19 350 хоккеистов-любителей. И чисто любительский дивизион «Лига Надежды» с 457 командами по стране впервые в истории обошел прежде неизменно самый массовый «40+» — 401 команда. Правда, география осталась за теми, кто от 40 и старше — их турниры прошли в 68 регионах, а «Надежда» охватила 51 субъект Российской Федерации.</p>
                    <p>Почти 20 тысяч игроков! 3 031 из них приехал в Сочи на Финал VIII Фестиваля, где сыграли целых 162 команды. Сюда мы включаем и шесть женских коллективов в дивизионе «Амазонки», ведь все его участники — результат отбора в «регулярке» Лиге женского хоккея. А в рамках Финала Ночной Лиги происходит «финальная пулька». Впервые, кстати, она прошла не круговым турниром, а с групповым этапом и плей-офф. Победителем стал бессменный чемпион ЛЖХ — московская команда «Град-1».</p>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>