<% var data = {
    title: "Ice",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Фестиваль хоккея
            </a>
            <a href="javascript:;" class="menu-section__link">
                Клуб Макарова
            </a>
            <a href="javascript:;" class="menu-section__link">
                Приз Якушева
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Студёный лёд
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-35">

                <h1>Студёный Лёд</h1>

                <div class="block-width-lg mb-35">
                    <img src="./local/uploads/ice.jpg" class="d-block" alt="">
                </div>

                <div class="block-width-md">
                    <p class="h2">Фестиваль на открытой хоккейной коробке. Городской праздник для хоккеистов Ночной Лиги их близких и знакомых, а также жителей региона</p>
                    <p>Матчи проекта могут проходить в рамках игры регионального чемпионата, а могут носить статус обособленного мини-турнира или гала-матча с участием сборных команд.</p>
                </div>

                <div class="mb-30">
                    <a href="javascript:;" class="news-link-str">
                        <svg class="news-link-str__icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                        <span class="news-link-str__text">Если вы хотите, чтобы «Студёный Лёд» прошёл в вашем регионе — заполните заявку на участие</span>
                    </a>
                </div>

                <div class="panel-btn">
                    <a href="javascript:;" class="panel-btn__link">IX.</a>
                    <a href="javascript:;" class="panel-btn__link">VIII.</a>
                    <a href="javascript:;" class="panel-btn__link">VII.</a>
                    <a href="javascript:;" class="panel-btn__link">VI.</a>
                    <a href="javascript:;" class="panel-btn__link">V.</a>
                    <a href="javascript:;" class="panel-btn__link">IV.</a>
                    <a href="javascript:;" class="panel-btn__link panel-btn__link_active">III.</a>
                    <a href="javascript:;" class="panel-btn__link">II.</a>
                    <a href="javascript:;" class="panel-btn__link">I.</a>
                </div>

                <div class="ice-list">
                    <div class="ice-list__item">
                        <div class="ice-list__pict">
                            <img src="./local/uploads/ice.1.jpg" alt="" class="ice-list__img">
                        </div>
                        <div class="ice-list__block">
                            <div class="ice-list__name h2">
                                Студёный Лёд 2020<br>
                                Московская область
                            </div>
                            <div class="ice-list__text">
                                Небольшая описательная часть, в которой рассказывается о матче, месте проведения, особоностях игры и интересных факта. По переходу по ссылке, открывается статья, которая содержит: полное описание самча, блок в одну строчку «матч-центр», а так же все медийные документы (видео, фото). В каждом сезоне могут быть от 8-12 матчей.
                            </div>
                        </div>
                    </div>
                    <div class="ice-list__item">
                        <div class="ice-list__pict">
                            <img src="./local/uploads/ice.2.jpg" alt="" class="ice-list__img">
                        </div>
                        <div class="ice-list__block">
                            <div class="ice-list__name h2">
                                Студёный Лёд 2020<br>
                                Московская область
                            </div>
                            <div class="ice-list__text">
                                Небольшая описательная часть, в которой рассказывается о матче, месте проведения, особоностях игры и интересных факта. По переходу по ссылке, открывается статья, которая содержит: полное описание самча, блок в одну строчку «матч-центр», а так же все медийные документы (видео, фото). В каждом сезоне могут быть от 8-12 матчей.
                            </div>
                        </div>
                    </div>
                    <div class="ice-list__item">
                        <div class="ice-list__pict">
                            <img src="./local/uploads/ice.3.jpg" alt="" class="ice-list__img">
                        </div>
                        <div class="ice-list__block">
                            <div class="ice-list__name h2">
                                Студёный Лёд 2020<br>
                                Московская область
                            </div>
                            <div class="ice-list__text">
                                Небольшая описательная часть, в которой рассказывается о матче, месте проведения, особоностях игры и интересных факта. По переходу по ссылке, открывается статья, которая содержит: полное описание самча, блок в одну строчку «матч-центр», а так же все медийные документы (видео, фото). В каждом сезоне могут быть от 8-12 матчей.
                            </div>
                        </div>
                    </div>
                    <div class="ice-list__item">
                        <div class="ice-list__pict">
                            <img src="./local/uploads/ice.4.jpg" alt="" class="ice-list__img">
                        </div>
                        <div class="ice-list__block">
                            <div class="ice-list__name h2">
                                Студёный Лёд 2020<br>
                                Московская область
                            </div>
                            <div class="ice-list__text">
                                Небольшая описательная часть, в которой рассказывается о матче, месте проведения, особоностях игры и интересных факта. По переходу по ссылке, открывается статья, которая содержит: полное описание самча, блок в одну строчку «матч-центр», а так же все медийные документы (видео, фото). В каждом сезоне могут быть от 8-12 матчей.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-btn mb-0">
                    <a href="javascript:;" class="panel-btn__link">IX.</a>
                    <a href="javascript:;" class="panel-btn__link">VIII.</a>
                    <a href="javascript:;" class="panel-btn__link">VII.</a>
                    <a href="javascript:;" class="panel-btn__link">VI.</a>
                    <a href="javascript:;" class="panel-btn__link">V.</a>
                    <a href="javascript:;" class="panel-btn__link">IV.</a>
                    <a href="javascript:;" class="panel-btn__link panel-btn__link_active">III.</a>
                    <a href="javascript:;" class="panel-btn__link">II.</a>
                    <a href="javascript:;" class="panel-btn__link">I.</a>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>
 
<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>