<% var data = {
    title: "Match calendar",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Матчи
            </a>
            <a href="javascript:;" class="menu-section__link">
                Трансляции
            </a>
            <a href="javascript:;" class="menu-section__link">
                Альбомы матчей
            </a>
            <a href="javascript:;" class="menu-section__link">
                Арбитры
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block">

                <h1>Матчи</h1>

                <div class="broadcast-filter filter-panel mb-15">
                    <div class="filter-panel__part filter-panel__part_145">
                        <div class="checkbox-icon">
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check" checked>
                                <svg class="checkbox-icon__icon checkbox-icon__icon_f">
                                    <use xlink:href="./local/img/sprite.num.svg#f"></use>
                                </svg>
                            </label>
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check">
                                <svg class="checkbox-icon__icon checkbox-icon__icon_lm">
                                    <use xlink:href="./local/img/sprite.num.svg#lm"></use>
                                </svg>
                            </label>
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check">
                                <svg class="checkbox-icon__icon checkbox-icon__icon_ln">
                                    <use xlink:href="./local/img/sprite.num.svg#ln"></use>
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="filter-panel__part filter-panel__part_110">
                        <select class="select-btn">
                            <option selected disabled>Группа</option>
                            <option value="">Группа с названием</option>
                            <option value="">Группа с очень длинным названием</option>
                        </select>
                    </div>
                    <div class="filter-panel__part filter-panel__part_110 d-none d-md-block">
                        <select class="select-btn">
                            <option selected disabled>Команда</option>
                            <option value="">Команда с названием</option>
                            <option value="">Команда с очень длинным названием</option>
                        </select>
                    </div>
                    <div class="filter-panel__part broadcast-filter__calc d-none d-md-block">
                        <select class="select-btn">
                            <option selected disabled>Регион</option>
                            <option value="">Регион #1</option>
                            <option value="">Регион #2</option>
                            <option value="">Регион #3</option>
                        </select>
                    </div>
                    <div class="filter-panel__part broadcast-filter__calc d-md-none"></div>
                    <div class="filter-panel__part filter-panel__part_80 d-none d-md-block">
                        <div class="filter-panel__date">
                            <input type="text" class="filter-panel__date-input our-datepicker" value="">
                            <svg class="filter-panel__date-icon">
                                <use xlink:href="./local/img/sprite.svg#date"></use>
                            </svg>
                            <script>
                                var eventDates = ['02.08.20', '05.08.20', '18.08.20', '22.08.20', '01.09.20', '10.09.20', '21.09.20', '23.09.20'];
                            </script>
                        </div>
                    </div>
                    <div class="filter-panel__part filter-panel__part_50">
                        <a href="javascript:;" class="filter-panel__close btn-close btn-close_grey"></a>
                    </div>
                </div>

                <div class="panel-btn mb-0">
                    <a href="javascript:;" class="panel-btn__link panel-btn__link_active">Ближайшие</a>
                    <a href="javascript:;" class="panel-btn__link">Результаты</a>
                </div>

            </div>

            <div class="block-padding">
                <h2>Календарь</h2>
            </div>

            <div class="match-calendar mb-45">
                <div class="match-calendar__item">
                    <div class="match-calendar__pict order-1">
                        <img class="match-calendar__logo" src="./local/uploads/match.calendar.2.png" alt="">
                    </div>
                    <div class="match-calendar__team order-3 order-md-2">
                        <div class="match-calendar__team-name">Седые Волки</div>
                        <div class="match-calendar__team-city">Москва</div>
                    </div>
                    <div class="match-calendar__center order-5 order-md-3">
                        <div class="match-calendar__info">
                            <span class="match-calendar__info-part">40+ (А)</span>
                            <span class="match-calendar__info-part">№24</span>
                            <span class="match-calendar__info-part">6 тур</span>
                        </div>
                        <div class="match-calendar__time">13 октября 2020, Чт. 19:00</div>
                        <div class="match-calendar__place">ЛА «Трансбункер» (пгт. Ванино)</div>
                    </div>
                    <div class="match-calendar__team match-calendar__team_right order-4">
                        <div class="match-calendar__team-name">Казанские Драконы</div>
                        <div class="match-calendar__team-city">Москва</div>
                    </div>
                    <div class="match-calendar__pict order-2 order-md-5">
                        <img class="match-calendar__logo" src="./local/uploads/match.calendar.1.png" alt="">
                    </div>
                </div>
                <div class="match-calendar__item">
                    <div class="match-calendar__pict order-1">
                        <img class="match-calendar__logo" src="./local/uploads/match.calendar.2.png" alt="">
                    </div>
                    <div class="match-calendar__team order-3 order-md-2">
                        <div class="match-calendar__team-name">Седые Волки</div>
                        <div class="match-calendar__team-city">Москва</div>
                    </div>
                    <div class="match-calendar__center order-5 order-md-3">
                        <div class="match-calendar__info">
                            <span class="match-calendar__info-part">40+ (А)</span>
                            <span class="match-calendar__info-part">№24</span>
                            <span class="match-calendar__info-part">6 тур</span>
                        </div>
                        <div class="match-calendar__time">13 октября 2020, Чт. 19:00</div>
                        <div class="match-calendar__place">ЛА «Трансбункер» (пгт. Ванино)</div>
                    </div>
                    <div class="match-calendar__team match-calendar__team_right order-4">
                        <div class="match-calendar__team-name">Казанские Драконы</div>
                        <div class="match-calendar__team-city">Москва</div>
                    </div>
                    <div class="match-calendar__pict order-2 order-md-5">
                        <img class="match-calendar__logo" src="./local/uploads/match.calendar.1.png" alt="">
                    </div>
                </div>
                <div class="match-calendar__item">
                    <div class="match-calendar__pict order-1">
                        <img class="match-calendar__logo" src="./local/uploads/match.calendar.2.png" alt="">
                    </div>
                    <div class="match-calendar__team order-3 order-md-2">
                        <div class="match-calendar__team-name">Седые Волки</div>
                        <div class="match-calendar__team-city">Москва</div>
                    </div>
                    <div class="match-calendar__center order-5 order-md-3">
                        <div class="match-calendar__info">
                            <span class="match-calendar__info-part">40+ (А)</span>
                            <span class="match-calendar__info-part">№24</span>
                            <span class="match-calendar__info-part">6 тур</span>
                        </div>
                        <div class="match-calendar__time">13 октября 2020, Чт. 19:00</div>
                        <div class="match-calendar__place">ЛА «Трансбункер» (пгт. Ванино)</div>
                    </div>
                    <div class="match-calendar__team match-calendar__team_right order-4">
                        <div class="match-calendar__team-name">Казанские Драконы</div>
                        <div class="match-calendar__team-city">Москва</div>
                    </div>
                    <div class="match-calendar__pict order-2 order-md-5">
                        <img class="match-calendar__logo" src="./local/uploads/match.calendar.1.png" alt="">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>