<% var data = {
    title: "Medal three",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Фестиваль хоккея
            </a>
            <a href="javascript:;" class="menu-section__link">
                Призёры
            </a>
            <a href="javascript:;" class="menu-section__link">
                Итоговое положение команд
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Медальный зачёт
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-45">

                <h1>Медальный зачёт</h1>

                <div class="panel-btn">
                    <a href="javascript:;" class="panel-btn__link">По командам</a>
                    <a href="javascript:;" class="panel-btn__link">По субъектам</a>
                    <a href="javascript:;" class="panel-btn__link panel-btn__link_active">По игрокам</a>
                    <a href="javascript:;" class="panel-btn__link">По трофеям</a>
                </div>

                <div class="h2">Медальный зачёт по игрокам</div>

                <div class="medal-table">
                    <div class="medal-table__nowrap">
                        <table class="table-one table-one_center table-slider">
                            <thead>
                                <tr>
                                    <th>Участник</th>
                                    <th class="table-one__text-left">
                                        Команда
                                    </th>
                                    <th>
                                        <a class="slider-str slider-str__prev" href="javascript:;"></a>
                                    </th>
                                    <th class="table-one__bold table-slider__item">
                                        VI
                                    </th>
                                    <th class="table-one__bold table-slider__item">
                                        VII
                                    </th>
                                    <th class="table-one__bold table-slider__item">
                                        VIII
                                    </th>
                                    <th class="table-one__bold table-slider__item">
                                        IX
                                    </th>
                                    <th>
                                        <a class="slider-str slider-str__next" href="javascript:;"></a>
                                    </th>
                                    <th>
                                        <img class="medal-table__icon" src="./local/img/icon.bronze.svg" alt="">
                                    </th>
                                    <th>
                                        <img class="medal-table__icon" src="./local/img/icon.silver.svg" alt="">
                                    </th>
                                    <th>
                                        <img class="medal-table__icon" src="./local/img/icon.gold.svg" alt="">
                                    </th>
                                    <th>
                                        <span class="table-one__rotate">Всего</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-one__bold">Зверев Андрей</td>
                                    <td class="table-one__text-left table-one__small">
                                        Стальные Топоры
                                        <div class="table-one__light">Магнитогорск</div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.gold.c.svg" alt="">
                                    </td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.bronze.c.svg" alt="">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td class="medal-table__bronze">1</td>
                                    <td class="medal-table__silver">2</td>
                                    <td class="medal-table__gold">3</td>
                                    <td class="table-one__bold">6</td>
                                </tr>
                                <tr>
                                    <td class="table-one__bold">Кочнев Сергей</td>
                                    <td class="table-one__text-left table-one__small">
                                        Горводоканал
                                        <div class="table-one__light">Новосибирск</div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.bronze.c.svg" alt="">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.gold.c.svg" alt="">
                                    </td>
                                    <td></td>
                                    <td class="medal-table__bronze">1</td>
                                    <td class="medal-table__silver">1</td>
                                    <td class="medal-table__gold">1</td>
                                    <td class="table-one__bold">3</td>
                                </tr>
                                <tr>
                                    <td class="table-one__bold">Садаков Вячеслав</td>
                                    <td class="table-one__text-left table-one__small">
                                        Центурион
                                        <div class="table-one__light">Челябинск</div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.silver.c.svg" alt="">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.gold.c.svg" alt="">
                                    </td>
                                    <td></td>
                                    <td class="medal-table__bronze">1</td>
                                    <td class="medal-table__silver"></td>
                                    <td class="medal-table__gold">1</td>
                                    <td class="table-one__bold">2</td>
                                </tr>
                                <tr>
                                    <td class="table-one__bold">Семушенков Дмитрий</td>
                                    <td class="table-one__text-left table-one__small">
                                        Казанские Драконы
                                        <div class="table-one__light">Казань</div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.gold.c.svg" alt="">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="medal-table__bronze"></td>
                                    <td class="medal-table__silver">1</td>
                                    <td class="medal-table__gold">1</td>
                                    <td class="table-one__bold">2</td>
                                </tr>
                                <tr>
                                    <td class="table-one__bold">Алексеев Эдуард</td>
                                    <td class="table-one__text-left table-one__small">
                                        Джалиль
                                        <div class="table-one__light">Республика Татарстан</div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.gold.c.svg" alt="">
                                    </td>
                                    <td>
                                        <img class="medal-table__circle" src="./local/img/icon.silver.c.svg" alt="">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td class="medal-table__bronze">2</td>
                                    <td class="medal-table__silver">1</td>
                                    <td class="medal-table__gold">1</td>
                                    <td class="table-one__bold">3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="medal-table__bottom">
                        <a href="javascript:;" class="link-str">
                            Победители всех Фестивалей
                            <svg class="link-str__icon">
                                <use xlink:href="./local/img/sprite.svg#str-next"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>