<% var data = {
    title: "Medal four",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Фестиваль хоккея
            </a>
            <a href="javascript:;" class="menu-section__link">
                Призёры
            </a>
            <a href="javascript:;" class="menu-section__link">
                Итоговое положение команд
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Медальный зачёт
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-45">

                <h1>Медальный зачёт</h1>

                <div class="panel-btn">
                    <a href="javascript:;" class="panel-btn__link">По командам</a>
                    <a href="javascript:;" class="panel-btn__link">По субъектам</a>
                    <a href="javascript:;" class="panel-btn__link">По игрокам</a>
                    <a href="javascript:;" class="panel-btn__link panel-btn__link_active">По трофеям</a>
                </div>

                <div class="h2">
                    Обладатели трофеев Ночной Лиги.<br>
                    Любители 40+
                </div>

                <div class="medal-table">
                    <div class="medal-table__nowrap">
                        <table class="table-one">
                            <thead>
                                <tr>
                                    <th>Сезоны</th>
                                    <th>
                                        Кубок<br>
                                        Чемпионов
                                    </th>
                                    <th>
                                        Кубок Крутова
                                        <div class="table-one__small table-one__light">до 2015 — Кубок Победителя Фестиваля</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">IX.</div>
                                        <div class="table-one__small table-one__light">2019 — 2020</div>
                                    </td>
                                    <td>
                                        <div class="table-one__small table-one__light">Сovid 19</div>
                                    </td>
                                    <td>
                                        <div class="table-one__small table-one__light">Сovid 19</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">VIII.</div>
                                        <div class="table-one__small table-one__light">2018 — 2019</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Неоплан</div>
                                        <div class="table-one__light">Екатеринбург</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Неоплан</div>
                                        <div class="table-one__light">Екатеринбург</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">VII.</div>
                                        <div class="table-one__small table-one__light">2017 — 2018</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Казанские Драконы</div>
                                        <div class="table-one__light">Казань</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Казанские Драконы</div>
                                        <div class="table-one__light">Казань</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">VI.</div>
                                        <div class="table-one__small table-one__light">2016 — 2017</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Центурион, Орион</div>
                                        <div class="table-one__light">Челябинск</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Центурион, Орион</div>
                                        <div class="table-one__light">Челябинск</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">V.</div>
                                        <div class="table-one__small table-one__light">2015 — 2016</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Авто</div>
                                        <div class="table-one__light">СПб</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Авто</div>
                                        <div class="table-one__light">СПб</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mb-45"></div>

                <div class="h2">
                    Обладатели трофеев Ночной Лиги.<br>
                    Лига Мечты, Лига Надежды
                </div>

                <div class="medal-table">
                    <div class="medal-table__nowrap">
                        <table class="table-one">
                            <thead>
                                <tr>
                                    <th>Сезоны</th>
                                    <th>
                                        Кубок<br>
                                        Надежды
                                    </th>
                                    <th>
                                        Кубок Крутова<br>
                                        Мечты
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">IX.</div>
                                        <div class="table-one__small table-one__light">2019 — 2020</div>
                                    </td>
                                    <td>
                                        <div class="table-one__small table-one__light">Сovid 19</div>
                                    </td>
                                    <td>
                                        <div class="table-one__small table-one__light">Сovid 19</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">VIII.</div>
                                        <div class="table-one__small table-one__light">2018 — 2019</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Вольфрам-А</div>
                                        <div class="table-one__light">п. Восток, Приморский край</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Марс Волхов</div>
                                        <div class="table-one__light">Волхов, Ленинградская область</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="table-one__big table-one__bold">VII.</div>
                                        <div class="table-one__small table-one__light">2017 — 2018</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Тимерхан</div>
                                        <div class="table-one__light">пгт. Богатые Сабы, Татарстан</div>
                                    </td>
                                    <td class="table-one__small medal-table__cup">
                                        <div class="table-one__bold">Вольфрам-Б</div>
                                        <div class="table-one__light">п. Восток, Приморский край</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="medal-table__bottom">
                        <a href="javascript:;" class="link-str">
                            Подробнее о трофеях Ночной Лиги
                            <svg class="link-str__icon">
                                <use xlink:href="./local/img/sprite.svg#str-next"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>