<% var data = {
    title: "News officially",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Новости
            </a>
            <a href="javascript:;" class="menu-section__link">
                Видео
            </a>
            <a href="javascript:;" class="menu-section__link">
                Фото
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-60">

               <div class="title-back h1-and-link mb-30 d-none d-lg-flex">
                    <a href="javascript:;" class="title-back__back">
                        <svg class="title-back__back-icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                    <div></div>
                    <a href="javascript:;" class="link-str d-none d-lg-flex">
                        Следующий материал
                        <svg class="link-str__icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                </div>

                <div class="block-width-md">
                    <h1 class="mb-15">Ночная Хоккейная Лига<br>приостанавливает сезон</h1>
                </div>

                <div class="news-detail-about">
                    Пресс-служба<br>
                    6 июня, 11:00
                </div>

                <div class="block-width-md">
                    <p>
                        В связи с распространением пандемии коронавируса и в целях обеспечения безопасности участников турнира Ночная Лига приостанавливает матчи Отборочного этапа IX Всероссийского Фестиваля по хоккею среди любительских команд с 19 марта до 10 апреля 2020 года.
                    </p>
                    <p>
                        Решение о продолжении Отборочного этапа и проведении Финального этапа в Сочи будет объявлено в отдельном порядке и опубликовано на официальных ресурсах Лиги.
                    </p>
                </div>

            </div>

            <div class="white-block mb-60">

               <div class="mb-45 d-none d-lg-flex"></div>

                <div class="block-width-md">
                    <h1 class="mb-15">Продлен срок регистрации заявок кандидатов в региональные представители</h1>
                </div>

                <div class="news-detail-about">
                    Пресс-служба<br>
                    6 июня, 11:00
                </div>

                <div class="block-width-md">
                    <p>
                        Срок регистрации заявок кандидатов в региональные представители для следующих регионов продлен до 24 июля включительно:
                    </p>
                </div>

                <div class="text-sm mb-35">
                    <div class="row">
                        <div class="col-sm-6">
                            <b>Центр</b><br>
                            Брянская область<br>
                            Калужская область<br>
                            Смоленская область<br>
                            <br>
                            <b>Санкт-Петербург</b><br>
                            <br>
                            <b>Северо-Запад</b><br>
                            Ленинградская область<br>
                            Новгородская область<br>
                            Псковская область<br>
                            Ненецкий автономный округ<br>
                            <br>
                            <b>Юг и Северный Кавказ</b><br>
                            Республика Калмыкия<br>
                            Астраханская область<br>
                            Волгоградская область<br>
                            Республика Дагестан<br>
                            Республика Ингушетия<br>
                            Карачаево-Черкесская<br>
                            Республика Республика<br>
                            Северная Осетия<br>
                            Чеченская Республика<br>
                            Ставропольский край
                        </div>
                        <div class="col-sm-6">
                            <b>Приволжье</b><br>
                            Республика Марий Эл<br>
                            Кировская область<br>
                            Оренбургская область<br>
                            Пензенская область<br>
                            Конференция СИБИРЬ<br>
                            Иркутская область<br>
                            Республика Алтай<br>
                            Новосибирская область<br>
                            Томская область<br>
                            <br>
                            <b>Дальний Восток</b><br>
                            Республика Саха (Якутия)<br>
                            Хабаровский край<br>
                            Чукотский автономный округ
                        </div>
                    </div>
                </div>

                <div class="block-width-md">
                    <p class="mb-30">
                        Данное решение обосновано ограничительными мерами из-за распространения новой коронавирусной инфекции, ввиду которых подача заявок затруднена. Продление срока подачи заявок не распространяется на регионы вне списка, указанного выше.
                    </p>
                    <div class="text-sm mb-30">
                        <p class="title-for-ul">
                            При подаче заявок просим обратить внимание на следующее
                        </p>
                        <ul>
                            <li>Необходимо внимательно ознакомиться с <a href="javascript:;">Положением о региональном представителе Фонда «НХЛ»</a>;</li>
                            <li>Официальный представитель команды, входящий в состав инициативной группы, может заполнить заявление о выдвижении только одного кандидата;</li>
                            <li>Выдвижение командами регионального представителя в соответствующем дивизионе осуществляется инициативной группой, состоящей: — для дивизионов «Любитель 40+» и «Лига Надежды» из шести и более официальных представителей команд (по одному от каждой команды) — для дивизиона «Лига Мечты» из пяти и более официальных представителей команд (по одному от каждой команды);</li>
                            <li>Установленные формы заявлений являются обязательными при регистрации заявки. Заявления, написанные от руки и перепечатанные в произвольной форме, к рассмотрению не принимаются;</li>
                            <li>Согласно п.2.1.8. Положения о региональном представителе Фонда «НХЛ» региональный представитель обязан утверждать с инициативной группой размер командной платы за участие в регулярном чемпионате в соответствии с порядком расчета размера командной платы за участие.</li>
                        </ul>
                    </div>
                    <p>
                        Лига благодарит кандидатов, которые подали <span class="text-bg">заявки в срок до 14 июля</span>. Итоги выдвижения и самовыдвижения региональных представителей будут опубликованы на нашем сайте.
                    </p>
                    <p>
                        Электронный адрес почты для вопросов по регистрации заявок кандидатов в региональные представители: <a href="mailto:season10@nhliga.com">season10@nhliga.com</a>
                    </p>
                    <a href="javascript:;" class="news-link-str">
                        <svg class="news-link-str__icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                        <span class="news-link-str__text">Подробнее о процедуре регистрации заявок можно ознакомиться по ссылке</span>
                    </a>
                </div>

            </div>

            <div class="white-block mb-60">

                <div class="mb-45 d-none d-lg-flex"></div>

                <div class="block-width-md">
                    <h1>Александр Зайцев покинул пост главного судьи Ночной хоккейной лиги</h1>
                </div>

                <div class="block-width-lg mb-35">
                    <img src="./local/uploads/news.officially.jpg" alt="">
                </div>

                <div class="block-width-sm">
                    <h2>Лига благодарит его за многолетний вклад в развитие любительского хоккея и судейского сектора Ночной лиги и желает успехов в дальнейшей карьере</h2>
                    <p>Александр Владимирович Зайцев — судья Всероссийской категории. Работал на многих матчах Чемпионата СССР и России.</p>
                    <p>На Чемпионате мира по хоккею среди мужских команд в 1992 году судил в пяти матчах, в том числе в финальном матче мирового первенства.</p>
                    <p>Принимал активное участие в подготовке специалистов в Школе молодых арбитров, выпускники которой сегодня обслуживают помимо матчей Ночной хоккейной лиги, матчи КХЛ, ВХЛ и других профессиональных лиг.</p>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>