<% var data = {
    title: "Payments Two",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<div class="mb-50"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-45">

                <h1>Платежи</h1>

                <div class="payments-form form-two">
                    <div class="payments-form__block">
                        <div class="payments-form__num">1.</div>
                        <div class="form-two__label">Выберите категорию оплаты</div>
                        <div class="form-two__line">
                            <label class="radio-one">
                                <input type="radio" class="radio-one__input" value="" name="cat">
                                <span class="radio-one__name">Оплатить членство</span>
                            </label>
                            <label class="radio-one">
                                <input type="radio" class="radio-one__input" value="" name="cat" checked>
                                <span class="radio-one__name">Оплатить штраф СДК</span>
                            </label>
                        </div>
                    </div>
                    <div class="payments-form__block">
                        <div class="payments-form__num">2.</div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="mb-40">
                                    <div class="form-two__label">Ваш регион</div>
                                    <div class="form-two__line">
                                        <select name="" class="select-style">
                                            <option value="" selected disabled>Регион</option>
                                            <option value="">Свердловская область</option>
                                            <option value="">Свердловская область</option>
                                            <option value="">Свердловская область</option>
                                            <option value="">Свердловская область</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="mb-40">
                                    <div class="form-two__label">Укажите дивизион</div>
                                    <div class="form-two__line">
                                        <label class="radio-one">
                                            <input type="radio" class="radio-one__input" value="" name="dev" checked>
                                            <span class="radio-one__name">Любитель 40+</span>
                                        </label>
                                        <label class="radio-one">
                                            <input type="radio" class="radio-one__input" value="" name="dev">
                                            <span class="radio-one__name">Лига Надежды</span>
                                        </label>
                                        <label class="radio-one">
                                            <input type="radio" class="radio-one__input" value="" name="dev">
                                            <span class="radio-one__name">Лига Мечты</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-20">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-two__label">Выберите свою команду</div>
                                    <div class="form-two__line">
                                        <select name="" class="select-style">
                                            <option value="" selected disabled>Команда</option>
                                            <option value="">Команда #1</option>
                                            <option value="">Команда #2</option>
                                            <option value="">Команда #3</option>
                                            <option value="">Команда #4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="payments-form-team">
                            <div class="payments-form-team__left">
                                <div class="payments-form-team__pict">
                                    <img class="payments-form-team__logo" src="./local/uploads/payments.team.jpg" alt="">
                                </div>
                                <div class="payments-form-team__name">Скон-Урал</div>
                                <div class="payments-form-team__city">Екатеринбург</div>
                                <div class="payments-form-team__info">
                                    <svg class="payments-form-team__info-icon">
                                        <use xlink:href="./local/img/sprite.svg#att"></use>
                                    </svg>
                                    <div class="payments-form-team__info-text">
                                        Х — штраф СДК не плачен
                                    </div>
                                </div>
                            </div>
                            <div class="payments-form-team__right">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Эдуард Акмалутдинов</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Владимир Александров</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Олег Асеев</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Иван Банных</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Василий Букетов</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Вадим Елсаков</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two check-two_no">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Константин Колясников</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Роман Королев</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Денис Мельников</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Андрей Немытых</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Денис Николаев</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Алексей Патрушев</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Андрей Попов</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Евгений Скоринов</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Евгений Сыропятов</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Владимир Тропицын</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Алексей Тютяев</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Евгений Фуголь</span>
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="check-two">
                                            <input class="check-two__input" type="checkbox" value="" name="play">
                                            <span class="check-two__name">Павел Шайкин</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="payments-form__block">
                        <div class="payments-form__num">3.</div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-two__label">Персональные данные</div>
                            </div>
                            <div class="col-3 d-none d-md-block">
                                <div class="form-two__label">Серия, №</div>
                            </div>
                            <div class="col-md-9">
                                <div class="payments-form__three">
                                    <div class="payments-form__three-part">
                                        <div class="form-two__line">
                                            <input class="form-two__input" type="text" value="" placeholder="Фамилия">
                                        </div>
                                    </div>
                                    <div class="payments-form__three-part">
                                        <div class="form-two__line">
                                            <input class="form-two__input" type="text" value="" placeholder="Имя">
                                        </div>
                                    </div>
                                    <div class="payments-form__three-part">
                                        <div class="form-two__line">
                                            <input class="form-two__input" type="text" value="" placeholder="Отчество">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-two__line">
                                    <input class="form-two__input" type="text" value="" placeholder="0000 - 000000">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payments-form__block">
                        <div class="payments-form__num">4.</div>
                        <div class="form-two__label">Итого сумма к оплате:</div>
                        <div class="mb-15">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-two__line">
                                        <input class="form-two__input" type="text" value="1 000 руб." placeholder="0 руб.">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-15">
                            <label class="check-one">
                                <input type="checkbox" class="check-one__input" value="" name="dog" checked>
                                <span class="check-one__box"></span>
                                <span class="check-one__name">
                                    Принимаю условия договора об <a class="check-one__link" href="javascript:;">участии в IX Фестивале</a>
                                </span>
                            </label>
                        </div>
                        <div class="mb-45">
                            <label class="check-one">
                                <input type="checkbox" class="check-one__input" value="" name="dog">
                                <span class="check-one__box"></span>
                                <span class="check-one__name">
                                    Даю согласие на обработку <a class="check-one__link" href="javascript:;">моих персональных данных</a>
                                </span>
                            </label>
                        </div>
                        <a href="javascript:;" class="btn-one payments-form__btn-send">Оплатить</a>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>