<% var data = {
    title: "Player",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Регионы
            </a>
            <a href="javascript:;" class="menu-section__link">
                Таблица
            </a>
            <a href="javascript:;" class="menu-section__link">
                Призёры
            </a>
            <a href="javascript:;" class="menu-section__link">
                Победители
            </a>
            <a href="javascript:;" class="menu-section__link">
                Все команды
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Все игроки
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-15">

                <div class="title-back mb-50">
                    <a href="javascript:;" class="title-back__back">
                        <svg class="title-back__back-icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                    <div class="h2 mb-0">Карточка игрока</div>
                </div>

                <div class="player-block">
                    <div class="player-block__left">
                        <div class="player-block__pict">
                            <img src="./local/uploads/player.jpg" alt="" class="player-block__img">
                        </div>
                        <div class="player-block__num h1 mb-0">№ 15</div>
                    </div>
                    <div class="player-block__right">
                        <div class="player-block__top">
                            <div class="player-block__top-left">
                                <h1 class="mb-5">Астахов Николай Васильевич</h1>
                                <div class="player-block__role">Нападающий</div>
                            </div>
                            <div class="player-block__top-right">
                                <img src="./local/uploads/player.logo.jpg" alt="" class="player-block__logo">
                            </div>
                        </div>
                        <div class="player-block__middle">
                            <div class="player-block__aside">
                                <div class="player-block__line">
                                    <div class="player-block__label">Возраст</div>
                                    <div class="player-block__value">47 лет</div>
                                </div>
                                <div class="player-block__line">
                                    <div class="player-block__label">Рост</div>
                                    <div class="player-block__value">178 см</div>
                                </div>
                                <div class="player-block__line">
                                    <div class="player-block__label">Вес</div>
                                    <div class="player-block__value">87 кг</div>
                                </div>
                                <div class="player-block__line">
                                    <div class="player-block__label">Хват</div>
                                    <div class="player-block__value">правый</div>
                                </div>
                            </div>
                            <div class="h2 mb-0">Армада</div>
                            <div class="player-block__info">Любитель 40+ группа Б</div>
                            <div class="h2 mb-0">Москва</div>
                            <div class="player-block__info">Москва</div>
                            <div class="h3 mb-0">Квалификация</div>
                            <div class="player-block__info">Спортшкольник</div>
                            <div class="h3 mb-0">Спортивное прошлое</div>
                            <div class="player-block__info">СДЮШОР Пингвины (Москва), занимался до 14 лет</div>
                        </div>
                        <div class="player-block__bottom">
                            <div class="player-block__bottom-item">
                                Очки <span class="player-block__bottom-value">54</span>
                            </div>
                            <div class="player-block__bottom-item">
                                Шайбы <span class="player-block__bottom-value">28</span>
                            </div>
                            <div class="player-block__bottom-item">
                                Игры <span class="player-block__bottom-value">18</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="black-block mb-15">
                <div class="player-achievements">
                    <div class="player-achievements__title h3 mb-0">Достижения</div>
                    <div class="player-achievements__items">
                        <div class="player-achievements__item">
                            <div class="player-achievements__icon">
                                <img src="./local/uploads/player.achievements.1.png" alt="" class="player-achievements__img">
                            </div>
                            <div class="player-achievements__name">Обладатель Кубка Крутова (сезон 2019/20)</div>
                        </div>
                        <div class="player-achievements__item">
                            <div class="player-achievements__icon">
                                <img src="./local/uploads/player.achievements.2.png" alt="" class="player-achievements__img">
                            </div>
                            <div class="player-achievements__name">Участник Клуба Макарова с 20 сентября 2020</div>
                        </div>
                        <div class="player-achievements__item">
                            <div class="player-achievements__icon">
                                <img src="./local/uploads/player.achievements.3.png" alt="" class="player-achievements__img">
                            </div>
                            <div class="player-achievements__name">Бронзовый призёр IX регулярного чемпионата (сезон 2019/20)</div>
                        </div>
                        <div class="player-achievements__item">
                            <div class="player-achievements__icon">
                                <img src="./local/uploads/player.achievements.4.png" alt="" class="player-achievements__img">
                            </div>
                            <div class="player-achievements__name">Серебрянный финалист IX всероссийского фестиваля по хоккею (сезон 2019/20)</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="white-block mb-45">
                <div class="player-statistics">
                    <div class="player-statistics__title">
                        <div class="h1 mb-0">Статистика</div>
                        <div class="player-statistics__title-info">по состоянию на 27 марта 2020 года</div>
                    </div>
                    <div class="table-one-visible">
                        <table class="table-one">
                            <thead>
                                <tr>
                                    <th>
                                        Команда<br>
                                        Сезон (дивизион)
                                    </th>
                                    <th>
                                        Турнир
                                    </th>
                                    <th>
                                        И
                                    </th>
                                    <th>
                                        Время
                                    </th>
                                    <th>
                                        БР
                                    </th>
                                    <th>
                                        ПШ
                                    </th>
                                    <th>
                                        КН
                                    </th>
                                    <th>
                                        %ОБ
                                    </th>
                                    <th>
                                        Г
                                    </th>
                                    <th>
                                        П
                                    </th>
                                    <th>
                                        Ш
                                    </th>
                                    <th>
                                        И(0)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-one__small">
                                        Н. Эд Машина
                                        <div class="table-one__bold">IX. 19/20 (40+)</div>
                                    </td>
                                    <td class="table-one__small">
                                        <div class="player-statistics__fix-width">
                                            Отборочный этап IX Фестиваля Ночной Лиги. Москва
                                        </div>
                                    </td>
                                    <td>
                                        15
                                    </td>
                                    <td>
                                        500:43
                                    </td>
                                    <td>
                                        116
                                    </td>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        1,32
                                    </td>
                                    <td>
                                        91
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        5
                                    </td>                            
                                </tr>
                                <tr>
                                    <td class="table-one__small">
                                        Скоростная Машина
                                        <div class="table-one__bold">VIII. 18/19 (ЛМ)</div>
                                    </td>
                                    <td class="table-one__small">
                                        <div class="player-statistics__fix-width">
                                            Отборочный этап VIII Фестиваль Ночной Лиги. МО
                                        </div>
                                    </td>
                                    <td>
                                        15
                                    </td>
                                    <td>
                                        500:43
                                    </td>
                                    <td>
                                        116
                                    </td>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        1,32
                                    </td>
                                    <td>
                                        91
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        5
                                    </td>                            
                                </tr>
                                <tr>
                                    <td class="table-one__small">
                                        Витязь
                                        <div class="table-one__bold">VII. 17/18 (ЛН)</div>
                                    </td>
                                    <td class="table-one__small">
                                        <div class="player-statistics__fix-width">
                                            Отборочный этап IX Фестиваля НХЛ. Москва
                                        </div>
                                    </td>
                                    <td>
                                        15
                                    </td>
                                    <td>
                                        500:43
                                    </td>
                                    <td>
                                        116
                                    </td>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        1,32
                                    </td>
                                    <td>
                                        91
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        5
                                    </td>                            
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="white-block mb-45">
                <div class="player-statistics">
                    <div class="player-statistics__title">
                        <div class="h1 mb-0">Статистика</div>
                        <div class="player-statistics__title-info">по состоянию на 27 марта 2020 года</div>
                    </div>
                    <div class="table-one-visible">
                        <table class="table-one">
                            <thead>
                                <tr>
                                    <th>
                                        Команда<br>
                                        Сезон (дивизион)
                                    </th>
                                    <th>
                                        Турнир
                                    </th>
                                    <th>
                                        А
                                    </th>
                                    <th>
                                        И
                                    </th>
                                    <th>
                                        Г
                                    </th>
                                    <th>
                                        П
                                    </th>
                                    <th>
                                        О
                                    </th>
                                    <th>
                                        Ш
                                    </th>
                                    <th>
                                        БЛ+
                                    </th>
                                    <th>
                                        БЛ-
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-one__small">
                                        Н. Эд Машина
                                        <div class="table-one__bold">IX. 19/20 (40+)</div>
                                    </td>
                                    <td class="table-one__small">
                                        <div class="player-statistics__fix-width">
                                            Отборочный этап IX Фестиваля Ночной Лиги. Москва
                                        </div>
                                    </td>
                                    <td>
                                        Защ
                                    </td>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>                           
                                </tr>
                                <tr>
                                    <td class="table-one__small">
                                        Скоростная Машина
                                        <div class="table-one__bold">VIII. 18/19 (ЛМ)</div>
                                    </td>
                                    <td class="table-one__small">
                                        <div class="player-statistics__fix-width">
                                            Отборочный этап VIII Фестиваль Ночной Лиги. МО
                                        </div>
                                    </td>
                                    <td>
                                        Защ
                                    </td>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>                           
                                </tr>
                                <tr>
                                    <td class="table-one__small">
                                        Витязь
                                        <div class="table-one__bold">VII. 17/18 (ЛН)</div>
                                    </td>
                                    <td class="table-one__small">
                                        <div class="player-statistics__fix-width">
                                            Отборочный этап IX Фестиваля НХЛ. Москва
                                        </div>
                                    </td>
                                    <td>
                                        Защ
                                    </td>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>                           
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>