<% var data = {
    title: "Index",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Чемпионат
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Протоколы СДК
            </a>
            <a href="javascript:;" class="menu-section__link">
                Платежи
            </a>
            <a href="javascript:;" class="menu-section__link">
                Документы
            </a>
            <a href="javascript:;" class="menu-section__link">
                Контакты
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-45">

                <div class="protocol-detail mb-50">
                    <div class="title-back">
                        <a href="javascript:;" class="title-back__back">
                            <svg class="title-back__back-icon">
                                <use xlink:href="./local/img/sprite.svg#str-next"></use>
                            </svg>
                        </a>
                        <div class="protocol-detail__head">
                            <div class="h2 mb-0">Протокол № 24/19 заседания СДК</div>
                        </div>
                    </div>
                    <div class="protocol-detail__body">
                        <p>
                            <b>Дата: 26 февраля 2020 года</b><br>
                            <b>Место проведения: Москва, офис «НХЛ»</b>
                        </p>
                        <br>
                        <p>
                            <b>Присутствовали:</b><br>
                            <span class="text-lg">
                                Никульшин Александр - Главный судья региона «Москва»<br>
                                Бахмутов Григорий - Председатель СДК<br>
                                Таранов Александр - Судья-консультант
                            </span>
                        </p>
                        <br>
                        <b>Рассмотрены вопросы:</b>
                        <ol>
                            <li>Нарушение Регламента «НХЛ» командой «Катюша».</li>
                            <li>Нарушение Регламента «НХЛ» командой «Гепард».</li>
                            <li>Нарушение Регламента «НХЛ» игроком команды «Ястребы» Старцевым Д.</li>
                            <li>Нарушение Регламента «НХЛ» игроком команды «Катюша 3» Галаховым Д.</li>
                            <li>Нарушение Регламента «НХЛ» игроком команды «Асгард» Шариковым И.</li>
                            <li>Нарушение Регламента «НХЛ» игроком команды «Рокетс» Биктимировым Д.</li>
                        </ol>
                        <br>
                        <p>
                            <span class="text-lg">По вопросу № 1</span><br>
                            Арбитры Спортивно-дисциплинарной комиссии региона «Москва», ознакомившись с предоставленными материалами, постановили:<br>
                            <b class="text-sm">Наказать команду «Катюша», нарушившую п. 3 ст. 11 Регламента «НХЛ», техническим поражением со счетом (0:5) в матче №565 от 22.02.2020 г. («ВМЗ-2» - «Катюша»).</b>
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">По вопросу № 2</span><br>
                            Арбитры Спортивно-дисциплинарной комиссии региона «Москва», ознакомившись с предоставленными материалами, постановили:<br>
                            <b class="text-sm">Наказать команду «Гепард», нарушившую п. 3 ст. 11 Регламента «НХЛ», техническим поражением со счетом (0:5) в матче №580 от 23.02.2020 г. («Крылья победы» - «Гепард»).</b>
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">По вопросу № 3</span><br>
                            Арбитры Спортивно-дисциплинарной комиссии региона «Москва», ознакомившись с предоставленными материалами, постановили:<br>
                            <b class="text-sm">Наказать игрока команды «Ястребы» Старцева Д. по п. 1.3 Таблицы штрафов.</b>
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">По вопросу № 4</span><br>
                            Арбитры Спортивно-дисциплинарной комиссии региона «Москва», ознакомившись с предоставленными материалами, постановили:<br>
                            <b class="text-sm">Наказать игрока команды «Катюша 3» Галахова Д. по п. 1.7 Таблицы штрафов.</b>
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">По вопросу № 5</span><br>
                            Арбитры Спортивно-дисциплинарной комиссии региона «Москва», ознакомившись с предоставленными материалами, постановили:<br>
                            <b class="text-sm">Наказать игрока команды «Асгард» Шарикова И. по п. 5.3.6 Таблицы штрафов.</b>
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">По вопросу № 6</span><br>
                            Арбитры Спортивно-дисциплинарной комиссии региона «Москва», ознакомившись с предоставленными материалами, постановили:<br>
                            <b class="text-sm">Наказать игроков команды «Рокетс» Биктимирова Д. по п. 5.3.6 Таблицы штрафов.</b>
                        </p>
                    </div>
                </div>

                <div class="protocol-detail">
                    <div class="protocol-detail__head">
                        <svg class="protocol-detail__icon">
                            <use xlink:href="./local/img/sprite.over.svg#ekp"></use>
                        </svg>
                        <div class="h2 mb-0">Протокол Экспертного совета Ночной Лиги</div>
                        <div class="protocol-detail__date">21 февраля</div>
                    </div>
                    <div class="protocol-detail__body">
                        <p>
                            Протокол № 5<br>
                            <b>Дата: 21 февраля 2020 года</b><br>
                            <b>Место проведения: Москва, Комсомольский пр-т, д.42, стр. 1., 5 этаж.</b>
                        </p>
                        <br>
                        <p>
                            <b>Присутствовали:</b><br>
                            <span class="text-lg">
                                Федоренко Н.Г. Председатель АК НХЛ<br>
                                Зайцев А.В. Зам. Председателя АК НХЛ<br>
                                Карпов В.А. Член АК НХЛ
                            </span>
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">Представленные материалы по вопросу:</span><br>
                            Апелляционная жалоба команды «Юником-Карго» г. Москва на решение СДК г. Москвы (№23/19 от 19.02.2020), связанного с нарушением командой «Юником-Карго» г. Москва требований к составам команд Дивизиона «Любитель 18+ Лига Надежды» в сезоне 2019-2020 гг.<br>
                            <b class="text-sm">Протокол СДК г. Москвы №23/19 от 19.02.2020.</b>
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">Рассмотренный вопрос:</span><br>
                            На рассмотрение Апелляционного комитета была представлена апелляционная жалоба команды «Юником-Карго» г. Москва по вопросу отстранения от дальнейшего участия в Отборочном этапе IX Всероссийского фестиваля по хоккею среди любительских команд сезона 2019-2020 гг. хоккеиста команды «Юником-Карго» Долкарт А., и наказания команды «Юником-Карго» за нарушение статьи 21 главы 6 Регламента Отборочного этапа Фестиваля, в части возрастного ограничения в заявке команды, техническими поражениями со счетом 0:5 в следующих матчах, по пункту 3 статьи 22 главы 6 Регламента Отборочного этапа Фестиваля:
                        </p>
                        <br>
                        <p>
                            №491 от 19.01.2020 г. «Юником-Карго» - «СТИ-клуб»;<br>
                            №493 от 25.01.2020 г. «СЭМ» - «Юником-Карго»;<br>
                            №504 от 15.02.2020 г. «Юником-Карго» - «Белый шквал Про».<br>
                            Апелляционный комитет НХЛ, рассмотрев представленную документацию  
                        </p>
                        <br>
                        <p>
                            <span class="text-lg">Постановил:</span><br>
                            <b class="text-sm">
                                Отклонить апелляционную жалобу команды «Юником-Карго» г. Москва в Апелляционный комитет Ночной Хоккейной Лиги, в соответствии с Разъяснением к Регламенту Отборочного этапа IX Фестиваля от 14.01.2020, в котором словосочетание «текущий год» определен 2019 годом.<br>
                                Оставить в силе решение Спортивно-дисциплинарного комитета СДК г. Москвы (№23/19 от 19.02.2020), по вопросу наказания команды «Юником-Карго» г. Москва за нарушение статьи 21 главы 6 Регламента Отборочного этапа Фестиваля в части возрастного ограничения в заявке команды в сезоне 2019-2020 гг. В дивизионе «Любитель 18+ Лига Надежды).
                                Решение подлежит публикации на официальном сайте НХЛ.<br>
                                Обжалованию настоящее решение не подлежит.
                            </b>
                        </p>
                        <br>
                        <p>
                            Председатель АК НХЛ: Федоренко Н.Г.<br>
                            Заместитель Председателя АК НХЛ: Зайцев А.В.
                        </p>
                    </div>
                    <div class="protocol-detail__foot">
                        <a href="javascript:;" class="protocol-detail__download">
                            <svg class="protocol-detail__download-icon">
                                <use xlink:href="./local/img/sprite.over.svg#download"></use>
                            </svg>
                            Скачать протокол
                        </a>
                        <div class="protocol-detail__foot-center">
                            <a href="javascript:;" class="btn-four">Другие протоколы СДК</a>
                        </div>
                        <a href="javascript:;" class="link-str">
                            Оплатить штраф
                            <svg class="link-str__icon">
                                <use xlink:href="./local/img/sprite.svg#str-next"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>