<% var data = {
    title: "Regions",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Регионы
            </a>
            <a href="javascript:;" class="menu-section__link">
                Таблица
            </a>
            <a href="javascript:;" class="menu-section__link">
                Призёры
            </a>
            <a href="javascript:;" class="menu-section__link">
                Победители
            </a>
            <a href="javascript:;" class="menu-section__link">
                Все команды
            </a>
            <a href="javascript:;" class="menu-section__link">
                Все игроки
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-45">

                <h1>Регионы</h1>

                <div class="regions-filter filter-panel">
                    <div class="filter-panel__part filter-panel__part_145 d-none d-xl-block">
                        <select class="select-btn">
                            <option selected disabled>Конференция</option>
                            <option value="">Конференция #1</option>
                            <option value="">Конференция с названием</option>
                            <option value="">Конференция с очень длинным названием</option>
                        </select>
                    </div>
                    <div class="filter-panel__part filter-panel__part_145">
                        <div class="checkbox-icon">
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check" checked>
                                <svg class="checkbox-icon__icon checkbox-icon__icon_f">
                                    <use xlink:href="./local/img/sprite.num.svg#f"></use>
                                </svg>
                            </label>
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check">
                                <svg class="checkbox-icon__icon checkbox-icon__icon_lm">
                                    <use xlink:href="./local/img/sprite.num.svg#lm"></use>
                                </svg>
                            </label>
                            <label class="checkbox-icon__label">
                                <input class="checkbox-icon__input" type="checkbox" value="" name="check">
                                <svg class="checkbox-icon__icon checkbox-icon__icon_ln">
                                    <use xlink:href="./local/img/sprite.num.svg#ln"></use>
                                </svg>
                            </label>
                        </div>
                    </div>
                    <div class="filter-panel__part regions-filter__calc">
                        <select class="select-btn">
                            <option selected disabled>Статус</option>
                            <option value="">Старт турнира</option>
                            <option value="">Турнир запущен</option>
                            <option value="">Турнир завершен</option>
                        </select>
                    </div>
                    <div class="filter-panel__part filter-panel__part_110 d-none d-md-block">
                        <select class="select-btn">
                            <option selected disabled>Все команды</option>
                            <option value="">Команда</option>
                            <option value="">Команда с названием</option>
                            <option value="">Команда с очень длинным названием</option>
                        </select>
                    </div>
                    <div class="filter-panel__part filter-panel__part_110 d-none d-md-block">
                        <select class="select-btn">
                            <option selected disabled>Тип</option>
                            <option value="">Тип №1</option>
                            <option value="">Тип №2</option>
                            <option value="">Тип №3</option>
                        </select>
                    </div>
                    <div class="filter-panel__part filter-panel__part_80 d-none d-md-block">
                        <div class="filter-panel__date">
                            <input type="text" class="filter-panel__date-input our-datepicker" value="">
                            <svg class="filter-panel__date-icon">
                                <use xlink:href="./local/img/sprite.svg#date"></use>
                            </svg>
                            <script>
                                var eventDates = ['02.08.20', '05.08.20', '18.08.20', '22.08.20', '01.09.20', '10.09.20', '21.09.20', '23.09.20'];
                            </script>
                        </div>
                    </div>
                    <div class="filter-panel__part filter-panel__part_50">
                        <a href="javascript:;" class="filter-panel__close btn-close btn-close_grey"></a>
                    </div>
                </div>

                <div class="mb-5">
                    <div class="h2 mb-0">Статус турнира</div>
                </div>
                <div class="text-xs color-link mb-30">Данные на 19 марта 2020</div>

                <div class="regions-table">
                    <table class="table-one table-one_head-sort table-one_center js-table-sort">
                        <thead>
                            <tr>
                                <th>
                                    Регион
                                    <div class="table-sort table-sort_no-padding"></div>
                                </th>
                                <th class="d-none d-md-table-cell">
                                    <span class="table-one__rotate">Дивизион</span>
                                    <div class="table-sort"></div>
                                </th>
                                <th>
                                    <span class="table-one__rotate">Команд</span>
                                    <div class="table-sort"></div>
                                </th>
                                <th class="d-none d-md-table-cell">
                                    <span class="table-one__rotate">Игроков</span>
                                    <div class="table-sort"></div>
                                </th>
                                <th class="d-none d-md-table-cell">
                                    <span class="table-one__rotate">Игр</span>
                                    <div class="table-sort"></div>
                                </th>
                                <th class="d-none d-md-table-cell" data-type="date">
                                    Начало
                                    <div class="table-sort"></div>
                                </th>
                                <th class="d-none d-md-table-cell" data-type="date">
                                    Конец
                                    <div class="table-sort"></div>
                                </th>
                                <th class="table-one__text-left">
                                    Статус
                                    <div class="table-sort"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Алтайский край</span>
                                    <span class="table-one__num">1</span>
                                </td>
                                <td class="d-none d-md-table-cell">40+</td>
                                <td>3</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">15.03.20</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Амурская область</span>
                                    <span class="table-one__num">2</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>4</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">28.10.19</td>
                                <td class="d-none d-md-table-cell">15.03.20</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Архангельская область</span>
                                    <span class="table-one__num">3</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛН</td>
                                <td>7</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">11.11.19</td>
                                <td class="d-none d-md-table-cell">28.10.19</td>
                                <td class="table-one__text-left">Турнир запущен</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Кабардино-Балкарская</span>
                                    <span class="table-one__num">4</span>
                                </td>
                                <td class="d-none d-md-table-cell">40+</td>
                                <td>5</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="d-none d-md-table-cell">15.03.20</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Липецкая область</span>
                                    <span class="table-one__num">5</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>2</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Московская область</span>
                                    <span class="table-one__num">6</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>2</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Орловская область</span>
                                    <span class="table-one__num">7</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>2</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Рязанская область</span>
                                    <span class="table-one__num">8</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>2</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Северная Осетия</span>
                                    <span class="table-one__num">9</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>2</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Смоленская область</span>
                                    <span class="table-one__num">10</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>2</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="table-one__bold">Ярославская область</span>
                                    <span class="table-one__num">11</span>
                                </td>
                                <td class="d-none d-md-table-cell">ЛМ</td>
                                <td>2</td>
                                <td class="d-none d-md-table-cell">64</td>
                                <td class="d-none d-md-table-cell">24</td>
                                <td class="d-none d-md-table-cell">19.10.19</td>
                                <td class="d-none d-md-table-cell">24.10.19</td>
                                <td class="table-one__text-left">Старт турнира</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>