<% var data = {
    title: "Trophies",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                О Лиге
            </a>
            <a href="javascript:;" class="menu-section__link">
                Управление
            </a>
            <a href="javascript:;" class="menu-section__link">
                Совет Легенд
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Трофеи
            </a>
            <a href="javascript:;" class="menu-section__link">
                Сотрудничество
            </a>
            <a href="javascript:;" class="menu-section__link">
                Вопрос-ответ
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-30">
                <div class="h1">Кубок Крутова</div>
                <div class="block-width-lg mb-35">
                    <img src="./local/uploads/trophies.1.jpg" alt="" class="d-block">
                </div>
                <div class="block-width-md">
                    <p class="h2">Главный кубок Ночной Хоккейной Лиги и дивизиона «Любитель 40+» носит имя легендарного советского хоккеиста, двукратного олимпийского чемпиона Владимира Крутова.</p>
                    <p>Основание кубка представляет собой многосложную точеную форму, выполненную из твердой породы дерева – скального дуба. Выточенный из бронзы и посеребренный центр трофея соединяет основание с чашей и имеет ручки оригинальной формы. Центральная часть содержит позолоченные гравировки с портретом Владимира Крутова и надписью «Кубок Крутова».</p>
                    <p>Имена всех победителей – 19 игроков и одного тренера – гравируются на отдельных позолоченных пластинах, которые крепятся на основании девятнадцатикилограммового кубка. Чаша содержит на себе гравировку звезд и объемного логотипа Ночной лиги.</p>
                    <p>Свой уникальный чемпионский трофей появился у Ночной лиги весной 2015 года. Его первыми обладателями стали хоккеисты команды «Невский Легион» (Санкт-Петербург) – победители IV Фестиваля.</p>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="h1">Кубок Надежды</div>
                <div class="block-width-lg mb-35">
                    <img src="./local/uploads/trophies.2.jpg" alt="" class="d-block">
                </div>
                <div class="block-width-md">
                    <p class="h2">Первым обладателем Кубка Надежды весной 2018 года стала команда «Тимерхан» из поселка городского типа Богатые Сабы в Татарстане.</p>
                    <p>Кубок унаследовал свою форму от первого чемпионского кубка советского хоккея — только без ручек. По бокам чаши выгравированы фигуры хоккеистов – нападающих и вратарей в простой форме и экипировке, характерной для хоккея 50-60-х годов. Возникающие ассоциации призваны продемонстрировать преемственность хоккейных традиций и истоки массового хоккея. Трофей самого любительского дивизиона Ночной лиги наглядно иллюстрирует собой концепцию «Лиги Надежды» – в нем играют только хоккеисты-любители, не имеющие за плечами хоккейной школы. Имена всех обладателей Кубка Надежды гравируются на специальных пластинах, которые размещены на основании трофея.</p>
                </div>
            </div>

            <div class="white-block mb-30">
                <div class="h1">Кубок Мечты</div>
                <div class="block-width-lg mb-35">
                    <img src="./local/uploads/trophies.3.jpg" alt="" class="d-block">
                </div>
                <div class="block-width-md">
                    <p class="h2">Первым обладателем Кубка Мечты в мае 2018 года стал «Вольфрам-Б» из поселка Восток Приморского края.</p>
                    <p>Кубок Мечты выполнен в подчеркнуто современном дизайне и форме. Массивное деревянное основание, неглубокая, широкая чаша с позолоченными обручами располагается на трех стилизованных шайбах. На верхнем кольце чаши выгравированы фигуры хоккеистов в современной экипировке в единоборстве рядом с воротами. Композиция кубка символизирует уровень мастерства, плотность борьбы и стремительность атак в дивизионе. Имена всех обладателей размещены на специальных пластинах в основании трофея.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>