<% var data = {
    title: "Video",
    htmlClass: "",
    bodyClass: ""
}; %>

<%= _.template(require('./../includes/head.html'))(data) %>

<%= _.template(require('./../includes/header.html'))() %>

<!-- Меню раздела -->
<nav class="menu-section">
    <div class="container">
        <div class="menu-section__block">
            <a href="javascript:;" class="menu-section__link">
                Новости
            </a>
            <a href="javascript:;" class="menu-section__link menu-section__link_active">
                Видео
            </a>
            <a href="javascript:;" class="menu-section__link">
                Фото
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="white-block mb-35">

                <div class="title-back mb-35">
                    <a href="javascript:;" class="title-back__back">
                        <svg class="title-back__back-icon">
                            <use xlink:href="./local/img/sprite.svg#str-next"></use>
                        </svg>
                    </a>
                    <div class="h1 mb-0">Видео</div>
                </div>

                <div class="block-width-lg mb-35">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-play">
                        <img src="./local/uploads/video.jpg" alt="" class="d-block">
                        <svg class="video-play__icon">
                            <use xlink:href="./local/img/sprite.svg#video-play"></use>
                        </svg>
                    </a>
                </div>

                <h1 class="mb-15">Презентация десятого сезона</h1>

                <div class="news-detail-about">
                    17 августа, 16:00
                </div>

                <div class="mb-50">
                    <p>Казалось, только совсем недавно чемпионский кубок над головами поднимал челябинский «Центурион», отгремел суточный Матч-марафон Ночной лиги, кристально чистые воды Байкала узнали, что такое первоклассный хоккей от прославленных легенд, состоялся первый «Студеный лед» в Ярославле, а город Сочи стал родным для многих игроков. И вот Ночная лига на пороге десятого юбилейного сезона!</p>
                    <p>О том, каким будет новый сезон — смотрите в презентации 10 сезона!</p>
                </div>

                <div class="tags-block mb-30">
                    <div class="tags-block__title">Теги</div>
                    <div class="tags-block__items">
                        <a href="javascript:;" class="tags-block__item">НочнаяЛига</a>
                        <a href="javascript:;" class="tags-block__item">СезонХ</a>
                        <a href="javascript:;" class="tags-block__item">БольшеЧЕМигра</a>
                    </div>
                </div>


                <div class="share-block mb-0">
                    <div class="share-block__title">Поделиться материалом</div>
                    <div class="share-block__items">

                        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                        <script src="https://yastatic.net/share2/share.js"></script>

                        <div class="ya-share2" data-services="facebook,vkontakte,odnoklassniki,whatsapp,telegram"></div>

                    </div>
                </div>

            </div>

            <div class="photo-index">

                <div class="h1 mb-30">Новое видео</div>

                <div class="photo-index__items">
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.1.jpg" alt="">
                            <svg class="icon-video icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#video"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Мастер-класс для воспитанников хоккейной школы в Лужках</a>
                        <div class="photo-index__place">Крым</div>
                        <div class="photo-index__date">27 августа, 22:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.2.jpg" alt="">
                            <svg class="icon-video icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#video"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Московская область. Кубок Открытия сезона. Любитель 40+. Витязь - Богородск</a>
                        <div class="photo-index__place">Коми</div>
                        <div class="photo-index__date">2 июля, 9:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.3.jpg" alt="">
                            <svg class="icon-video icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#video"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Лига Чемпионов. Полуфинал Кубка Крутова. Запад России - Торнадо</a>
                        <div class="photo-index__place">Удмуртия</div>
                        <div class="photo-index__date">26 июля, 17:15</div>
                    </div>
                </div>

                <div class="h1 mb-30">Хоккейная страна</div>

                <div class="photo-index__items">
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.1.jpg" alt="">
                            <svg class="icon-video icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#video"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Мастер-класс для воспитанников хоккейной школы в Лужках</a>
                        <div class="photo-index__place">Крым</div>
                        <div class="photo-index__date">27 августа, 22:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.2.jpg" alt="">
                            <svg class="icon-video icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#video"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Московская область. Кубок Открытия сезона. Любитель 40+. Витязь - Богородск</a>
                        <div class="photo-index__place">Коми</div>
                        <div class="photo-index__date">2 июля, 9:00</div>
                    </div>
                    <div class="photo-index__item">
                        <a href="javascript:;" class="photo-index__pict pict-shadow">
                            <img class="photo-index__img" src="./local/uploads/broadcasts.top.3.jpg" alt="">
                            <svg class="icon-video icon-all_white icon-all_left-bottom">
                                <use xlink:href="./local/img/sprite.svg#video"></use>
                            </svg>
                        </a>
                        <a href="javascript:;" class="photo-index__name">Лига Чемпионов. Полуфинал Кубка Крутова. Запад России - Торнадо</a>
                        <div class="photo-index__place">Удмуртия</div>
                        <div class="photo-index__date">26 июля, 17:15</div>
                    </div>
                </div>
                <div class="photo-index__btn">
                    <a href="javascript:;" class="btn-one">Смотреть все видео</a>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <%= _.template(require('./../includes/aside-page.html'))() %>

        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer-before.html'))() %>

<%= _.template(require('./../includes/footer-partner-list.html'))() %>

<!-- Подвал сайта -->
<footer class="main-footer">
    <div class="container">

        <%= _.template(require('./../includes/footer-middle.html'))() %>

        <%= _.template(require('./../includes/footer-bottom.html'))() %>

    </div>
</footer>

<%= _.template(require('./../includes/footer-mobile.html'))() %>

<%= _.template(require('./../includes/menu-mobile.html'))() %>

<%= _.template(require('./../includes/foot.html'))() %>