.chat-bot-window {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 100px;
    transition: .5s;
    height: 0;
    width: 0;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 -5px 10px var(--chat-shadow);
    background-color: var(--chat-white);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border: 2px solid var(--chat-grey3);

    &_open {
        width: 350px;
        height: 450px;
        pointer-events: auto;
        opacity: 1;
    }
    &_big {
        height: calc(100% - 60px);
    }
    &__block {
        width: 100%;
        height: 100%;
    }

    @include media-breakpoint-only(xs)
    {
        & {
            right: 0;
            border: none;
            box-shadow: none;
            width: auto;
            left: 0;
            bottom: 0;
            border-radius: 0;
            height: 0;

            &_open {
                height: 100%;
            }
        }
    }
}