.protocol-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 350px;
        margin: 0 0 25px;

        &:nth-child(even) {
            margin-left: auto;
        }
    }
    &__name {
        color: var(--blacksuper);
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: .26px;
        margin: 0 0 10px;
        display: flex;
        align-items: center;

        &:hover {
            color: var(--black);
        }
    }
    &__icon {
        width: 33px;
        height: 15px;
        fill: var(--blacksuper);
        margin: 0 0 0 5px;
    }
    &__text {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: .23px;
        margin: 0 0 5px;
    }
    &__date {
        color: var(--link);
        font-size: 13px;
        line-height: 17px;
        letter-spacing: .2px;
    }
    &__btn {
        margin: 10px 0 0;
        text-align: center;
        width: 100%;
    }

    @include media-breakpoint-down(lg)
    {
        &__item {
            width: 100%;
        }
    }
}