.representatives-filter {
    max-width: 630px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px;

    &__link {
        color: var(--gray_contur);
        font-weight: 600;
        margin: 0 25px 10px 0;
        letter-spacing: .26px;

        &:hover,
        &_active {
            color: var(--blacksuper);
            text-decoration: none;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -3px;
            height: 2px;
            width: 0;
            background-color: var(--black);
            left: 50%;
            transform: translate(-50%);
            transition: all .3s;
        }
    }

    @include media-breakpoint-down(sm)
    {
        & {
            margin: 0 0 30px;
            font-size: 15px;
            line-height: 20px;

            &__link {
                margin: 0 10px 5px 0;
            }
        }
    }
}